{extend name="$_admin_base_layout" /}

{block name="plugins-css"}
<link href="__LIBS__/jquery-nestable/jquery.nestable.css" rel="stylesheet" type="text/css" />
{/block}

{block name="content"}
<link href="__ADMIN_CSS__/all.css" rel="stylesheet" type="text/css" />
<script src="__ADMIN_JS__/ajaxfileupload.js"></script>
<script src="__LIBS__/bootstrap-datepicker/bootstrap-datepicker.js"></script> 
<form id="edit_form">
<input type="hidden" name="id" value="{$customer.id}">
<div class="add_edit">
    <div class="title">客户基本信息</div>
    <div style="clear: both;"></div>
    <div class="con">
        <ul>
            <li>
                <span class="latips"><span class="required">*</span>客户姓名：</span>
                <input type="text" name="name" value="{$customer.name}" placeholder="请输入客户姓名">
                <span class="bztips">只允许输入汉字，字符长度：4-8个字符</span>
            </li>
            <li>
                <span class="latips"><span class="required">*</span>联系电话：</span>
                <input type="text" name="mobile" value="{$customer.mobile}" placeholder="请输入联系电话">
                <span class="bztips">允许输入11位数字</span>
            </li>
            <li>
                <span class="latips"><span class="required">*</span>性别：</span>
                <label><input type="radio" name="sex" value="男" {if condition='$customer.sex eq "男"'}checked="checked"{/if}>男</label>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <label><input type="radio" name="sex" value="女" {if condition='$customer.sex eq "女"'}checked="checked"{/if}>女</label>
            </li>
            <li>
                <span class="latips"><span class="required">*</span>所在城市：</span>
                <select name="province_id" style="width: 8%;min-width: 90px;" id="select_province">
                    <option value="">请选择省份</option>
                    {volist name="province" id="vo"}
                    <option value="{$vo.id}" {if condition='$customer.province_id eq $vo.id'}selected="selected"{/if}>{$vo.name}</option>
                    {/volist}
                </select>&nbsp;
                <select name="city_id" style="width: 8%;min-width: 90px;" id="select_city">
                    <option value="">请选择城市</option>
                    {volist name="city" id="vo"}
                    <option value="{$vo.id}" {if condition='$customer.city_id eq $vo.id'}selected="selected"{/if}>{$vo.name}</option>
                    {/volist}
                </select>
            </li>
            <li>
                <span class="latips"><span class="required">*</span>意向车源：</span>
                <input type="hidden" name="car_source_id" value="{$customer.car_source_id}">
                <input type="hidden" name="defind_model" value="{$customer.defind_model}">
                <span class="lacon" style="margin-right: 10px;">{if condition='$customer.car_source_id neq "0"'}{$customer.car_name}{else/}{$customer.defind_model}{/if}</span>
                <button id="select_source">+{if condition='$customer.car_source_id eq "" && $customer.defind_model eq ""'}选择{else/}重选{/if}</button>
            </li>
            <li>
                <span class="latips"><span class="required">*</span>客户来源：</span>
                <select name="source">
                    <option value="">请选择客户来源</option>
                    <option value="朋友介绍" {if condition='$customer.source eq "朋友介绍"'}selected="selected"{/if}>朋友介绍</option>
                    <option value="客户介绍" {if condition='$customer.source eq "客户介绍"'}selected="selected"{/if}>客户介绍</option>
                    <option value="主动预约" {if condition='$customer.source eq "主动预约"'}selected="selected"{/if}>主动预约</option>
                    <option value="电话咨询" {if condition='$customer.source eq "电话咨询"'}selected="selected"{/if}>电话咨询</option>
                    <option value="职员引介" {if condition='$customer.source eq "职员引介"'}selected="selected"{/if}>职员引介</option>
                    <option value="平台转交" {if condition='$customer.source eq "平台转交"'}selected="selected"{/if}>平台转交</option>
                </select>
            </li>
            <li>
                <span class="latips"><span class="required">*</span>客户状态：</span>
                <select name="state">
                    <option value="">请选择客户状态</option>
                    <option value="0" {if condition='$customer.state eq "0"'}selected="selected"{/if}>未到店</option>
                    <option value="1" {if condition='$customer.state eq "1"'}selected="selected"{/if}>已到店</option>
                    <option value="2" {if condition='$customer.state eq "2"'}selected="selected"{/if}>已预订</option>
                    <option value="3" {if condition='$customer.state eq "3"'}selected="selected"{/if}>已成交</option>
                    <option value="-1" {if condition='$customer.state eq "-1"'}selected="selected"{/if}>战败</option>
                </select>
            </li>
            <li>
                <span class="latips">客户简介：</span>
                <textarea name="remark" maxlength="200" placeholder="请输入客户简介" class="numtext">{$customer.remark}</textarea>
                <span class="numtips">已输入<b>{$customer.remark_len}</b>/200个字</span>
            </li>
        </ul>
        <div style="clear: both;"></div>
    </div>
</div>


<div style="margin: 40px auto;text-align: center;">
    <a href="javascript:;" class="btn btn-minw btn-primary rbt" id="edit_form_submit">确&nbsp;定</a>
</div>

</form>


<div id="iframe_big_box" isshow='0'>
    <iframe src="{:url('index/iframe/customercarsourcelist')}" frameborder="0" id="iframe_small_box" name="iframe_small_box"></iframe>
</div>


<script>
    $(function(){
        //选择车源
        $('#select_source').click(function(){
            $('#iframe_big_box').attr('isshow','1');
            $('html,body').css({'overflow':'hidden','height':'100%'});
            $('#iframe_big_box').show();
            return false;
        });
        //框架加载
        $('#iframe_small_box').load(function(){
            if($('#iframe_big_box').attr('isshow')=='1'){
                $('#iframe_big_box').show();
            }else{
                $('#iframe_big_box').hide();
                $('#iframe_big_box').css('visibility','visible');
            }
        });
        //文本域字符提示
        $('textarea.numtext').keyup(function(){
            var len = $(this).val().length;
            $(this).parent().find('.numtips b').html(len);
        });
        //提交
        $('#edit_form_submit').click(function(){
            Dolphin.loading();
            $.ajax({
                type:'post',
                url:'{:url("manage/customer/edit")}',
                data:$('#edit_form').serializeArray(),
                dataType:'JSON',
                success:function(data){
                    Dolphin.loading('hide');
                    if (data.code==200) {
                        Dolphin.notify(data.msg, 'success');
                        setTimeout(function () {
                            location.href = '{:url("manage/customer/edit",["id"=>$customer["id"]])}';
                        }, 1500);
                    } else {
                        Dolphin.notify(data.msg, 'danger');
                    }
                },
                error:function(xhr,status,error){
                    Dolphin.loading('hide');
                    Dolphin.notify('服务器错误~', 'danger');
                }
            });
        });
        //查出城市
        $('#select_province').change(function(){
            var val=$(this).val();
            if(val===''){
                $('#select_city').html('<option value="">请选择城市</option>');
            }else{
                $.ajax({
                    type:'GET',
                    url:'{:url("index/region/getChilds")}',
                    data:{'id':val},
                    dataType:'JSON',
                    success:function(data){
                        if (data.code==200) {
                            var html='<option value="">请选择城市</option>';
                            $(data.region).each(function(k,v){
                                html+='<option value="'+v.id+'">'+v.name+'</option>';
                            });
                            $('#select_city').html(html);
                        } else {
                            Dolphin.notify(data.msg, 'danger');
                        }
                    },
                    error:function(xhr,status,error){
                        Dolphin.notify('服务器错误~', 'danger');
                    }
                });
            }
        });
    });
</script>



<script src="__ADMIN_JS__/specil.js"></script>
{/block}

{block name="script"}
<script src="__LIBS__/jstree/jstree.min.js"></script>
<script src="__LIBS__/jquery-nestable/jquery.nestable.js"></script>
<script src="__LIBS__/jquery-ui/jquery-ui.min.js"></script>
<script src="__ADMIN_JS__/food.js"></script>
{/block}