.filter_search{background: #fff;margin-bottom: 30px;padding: 20px 1%;}
.filter_search form .blo{display: inline-block;float: left;margin-right: 30px;margin-top: 5px;margin-bottom: 5px;}
.filter_search form .blo:last-child{margin-right: 0px;}
.filter_search form .blo span.latips{font-size: 14px;display:inline-block;float: left;height: 34px;line-height: 34px;}
.filter_search form .blo input[type="text"]{padding:0 3px;width:120px;height: 34px;line-height: 34px; font-size: 14px;float: left;border: 1px solid #ccc;}
.filter_search form .blo select{padding:0 3px;width:120px;height: 34px;line-height: 34px; font-size: 14px;float: left;border: 1px solid #ccc;}
.filter_search form .blo input.timepick{cursor: pointer;}
.filter_search .blo a.byt{float: left;}
.filter_search .blo a.rbt{float: right;margin-top: 5px;}
.add_edit{background: #fff;margin-bottom: 30px;}
.add_edit label{cursor: pointer;}
.add_edit .tab{display:block;background: #f9f9f9;}
.add_edit .tab ul{list-style: none;margin:0;padding: 0;}
.add_edit .tab ul li{list-style: none;margin:0;display: inline-block;font-size: 14px;font-weight: bold; padding:0 20px;height:50px;line-height: 50px;text-transform: uppercase;}
.add_edit .tab ul li.notive:hover{color: #5c90d2;cursor: pointer;}
.add_edit .tab ul li.active{background: #fff;}
.add_edit .title{display:inline-block;font-size: 15px;font-weight: 600;text-transform: uppercase;height:60px;line-height: 60px;background: #f9f9f9;width: 150px;text-align: center;}
.add_edit .con{padding: 20px;}
.add_edit .con ul{list-style: none;margin:0;padding: 0;}
.add_edit .con ul li{list-style: none;margin:0;padding: 0 1%;width: 100%;float: left;margin: 10px 0;font-size:14px;}
.add_edit .con ul li.look{list-style: none;margin:0;padding: 0 1%;width: 50%;float: left;margin: 10px 0;font-size:14px;}
.add_edit .con ul li span.required{display:inline-block;width:20px;color: #f00000; font-weight: bold;text-align: center;vertical-align: top;}
.add_edit .con ul li table.ccopts{width: 100%;}
.add_edit .con ul li span.latips{vertical-align: top;display:inline-block; height: 34px;line-height: 34px;width: 160px;text-align: right;max-width: 28%;}
.add_edit .con ul li a.lacas{vertical-align: top;display:inline-block; height: 34px;line-height: 34px;}
.add_edit .con ul li table.ccopts tr td{height: 34px;line-height: 34px;padding:0 1px;font-size: 12px;}
.add_edit .con ul li table.ccopts tr td input{vertical-align:middle;width: 16px;height: 16px;margin: 0 3px;display: inline-block;}
.add_edit .con ul li table.ccopts tr td span{vertical-align:middle;display: inline-block;line-height: 20px;font-size: 12px;min-width: 80px;}
.add_edit .con ul li span.bztips{display:inline-block;height: 34px;line-height: 34px;font-size: 10px;color: #999;text-indent: 10px;}
.add_edit .con ul li span.numtips{display:inline-block;font-size: 14px;color: #666;text-indent: 5px;vertical-align: bottom;}
.add_edit .con ul li span.lacon{display:inline-block;height: 34px;line-height: 34px;max-width: 50%;}
.add_edit .con ul li span.zui{display:inline-block;font-size: 14px;vertical-align:top;color: #666;height: 34px;line-height: 34px;border: 1px solid #ccc;border-left: none;width: 70px;text-align: center;}
.add_edit .con ul li span.looktips{display:inline-block;height: 34px;line-height: 34px;max-width: 40%;vertical-align: top;}
.add_edit .con ul li span.zhi{display:inline-block;height: 34px;line-height: 34px;vertical-align: top;}
.add_edit .con ul li input[type="text"],.add_edit .con ul li input[type="password"]{padding:0 5px;width:40%;min-width:240px;height: 34px;line-height: 34px; border: 1px solid #ccc;vertical-align:top;}
.add_edit .con ul li input[type="radio"]{vertical-align:top;line-height: 34px;display: inline-block;width: 16px;height: 16px;margin-top:9px;margin-right: 3px; }
.add_edit .con ul li button{padding:0 5px;min-width:80px;height: 34px;line-height: 34px; border: 1px solid #ccc;vertical-align:top;background: #fff;}
.add_edit .con ul li button:hover{background: #eee;}
.add_edit .con ul li textarea{padding:0 5px;width:40%;min-width:240px;height: 34px;line-height: 24px; border: 1px solid #ccc;height: 125px;vertical-align: top;}
.add_edit .con ul li label{font-weight: normal;font-size: 14px;cursor: pointer;line-height: 34px;margin: 0;vertical-align: top;}
.add_edit .con ul li select{padding:0 5px;width:15%;min-width:200px;height: 34px;line-height: 34px; border: 1px solid #ccc;vertical-align: top;}
.add_edit .con ul li .addimg{display: inline-block;width: 88px;height: 88px;border:1px solid #c6c6c6;cursor: pointer;}
.add_edit .con ul li .addimg img{width: 42px;height: 42px;margin:22px;}
.add_edit .con ul li .imgone{display:inline-block;height: 88px;cursor: pointer;position: relative;margin-right: 40px;}
.add_edit .con ul li .imgone a{display: inline-block;height: 88px;position: relative;}
.add_edit .con ul li .imgone a img{max-width: 88px;max-height: 88px;}
.add_edit .con ul li .imgone a img.delimg{width: 20px;height: 20px;position: absolute;right: 0px;top: 0px;opacity: 0.9;}
.add_edit .con ul li .imgone a img.delimg:hover{opacity: 1;}
.add_edit .con ul li .imgone span.editimg{cursor: pointer;position:absolute; bottom:5px;right:-40px;width: 40px;text-align: center;}
.add_edit .con ul li .imgall{display:inline-block;height: 120px;cursor: pointer;position: relative;margin-right: 20px;margin-bottom:10px;float: left;}
.add_edit .con ul li .imgall img.delimg{width: 20px;height: 20px;position: absolute;right: 0px;top: 0px;opacity: 0.9;}
.add_edit .con ul li .imgall img.delimg:hover{opacity: 1;}
.add_edit .con ul li .imgall a{display: inline-block;height: 120px;}
.add_edit .con ul li .imgall img{max-width: 120px;max-height: 120px;}
.add_edit .con ul li .addimg2{display: inline-block;width: 120px;height: 120px;border:1px solid #c6c6c6;cursor: pointer;}
.add_edit .con ul li .addallimgno{cursor: auto;opacity: 0.3;}
.add_edit .con ul li .addimg2 img{width: 58px;height: 58px;margin:30px;}
.add_edit .con ul li input.timepick{cursor: pointer;}
.add_edit .con ul li input.colorpick{cursor: pointer;}
.onpickcolor{width: 76px;height: 24px;position: absolute;left: 5px;top:5px;border: 1px solid #ccc;}
.colorpick_box{position: relative;display: none;z-index: 99;}
.colorpick_box dl{padding: 0;margin:0;top:1px;left:0;position: absolute;width: 500px;min-width: 200px;border: 1px solid #ccc;background: #fff;}
.colorpick_box dl dd{padding: 0;float: left;width: 18%;text-align: center;cursor: pointer;margin: 1%;border: 1px solid rgba(255,255,255,0);}
.colorpick_box dl dd.active{border: 1px solid #ccc;background: #eee;}
.colorpick_box dl dd img{width: 76px;height: 24px;display:inline-block;border: 1px solid #ccc;margin: 10px auto;margin-bottom:0;}
.colorpick_box dl dd span{width: 76px;display:inline-block;text-align: center;margin: 10px auto;margin-top:0;}
.colorpick_box dl dd p{height:10px;padding: 0;margin:0;display:inline-block;}
.lit{background: #fff;margin-bottom: 10px;padding: 20px 1%;}
.lit table.lit_table{width: 100%;}
.lit table.lit_table tr th{font-size: 14px;font-weight: normal;padding: 10px;}
.lit table.lit_table tr td{padding: 10px;}
.lit table.lit_table tr td a{line-height: 30px;font-size: 14px;}
.lit table.lit_table tr td a.yesclick{display: block;width: 120px;border: 1px solid #eee;text-align: center;}
.lit table.lit_table tr td a.yesclick:hover{border: 1px solid #ccc;}
.lit table.lit_table tr td a.noclick{display: block;width: 120px;border: 1px solid #eee;color: #646464;cursor: default;text-align: center;}
.lit table.lit_table tr td img{max-width: 120px;max-height: 120px; border: 5px solid #ccc;padding: 3px;float: left;margin-right: 10px;}
.lit table.lit_table tr td input[type="checkbox"]{width: 20px;height: 20px;cursor: pointer;background: #fff;}
.lit table.lit_table tr td .core span{display: block; height: 30px;line-height: 30px;font-size: 14px;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
.lit table.lit_table tr td .xiao{text-align: left;}
.lit table.lit_table tr td .xiao span{display: inline-block;height: 30px;line-height: 30px;font-size: 14px;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
.list_pi_run{text-align: left;margin:20px 5px;height: 45px;float:left;}
.list_pi_run label{vertical-align:top;margin-top: 13px;height: 34px;line-height: 34px;font-size: 14px;font-weight: normal;margin-right: 15px;margin-left: 30px;cursor: pointer;}
.list_pi_run label input[type="checkbox"]{width: 20px;height: 20px;background: #fff;vertical-align:middle;margin: 0px;display: inline-block;margin-bottom: 1px;margin-right: 5px;}
input[type="checkbox"].select_option{width: 20px;height: 20px;cursor: pointer;background: #fff;}
#iframe_big_box,#iframe_big_box_1{display:block;justify-content: center;align-items: center;position: fixed;top: 0px;left: 0px;width: 100%;height: 100%;background-color: rgba(0,0,0,0.4); z-index: 9999;visibility:hidden;}
#iframe_small_box,#iframe_small_box_1{border: 1px solid #f2f2f2;background-color: #f2f2f2;margin:auto;height: 80%;width: 80%; display: block;max-width: 1200px;padding-bottom: 30px;position: fixed; top: 50%;left: 50%;-webkit-transform: translate(-50%, -50%);-moz-transform: translate(-50%, -50%);-ms-transform: translate(-50%, -50%);-o-transform: translate(-50%, -50%);transform: translate(-50%, -50%);}
.dj_bigbox{position: fixed;top: 0px;left: 0px;width: 100%;height: 100%;background-color: rgba(0,0,0,0.4);display: none;  z-index: 9999;}
.dj_bigbox img.imgs{max-width: 90%;max-height:90%;position: fixed; top: 50%;left: 50%;-webkit-transform: translate(-50%, -50%);-moz-transform: translate(-50%, -50%);-ms-transform: translate(-50%, -50%);-o-transform: translate(-50%, -50%);transform: translate(-50%, -50%);display: none;}
.dj_bigbox img.up_img{max-width: 6%;max-height:6%; position: fixed; top: 50%;left: 3%;-webkit-transform: translate(-50%, -50%);-moz-transform: translate(-50%, -50%);-ms-transform: translate(-50%, -50%);-o-transform: translate(-50%, -50%);transform: translate(-50%, -50%);opacity: 0.5;cursor: pointer;}
.dj_bigbox img.down_img{max-width: 6%;max-height:6%; position: fixed; top: 50%;right: 1%;-webkit-transform: translate(-50%, -50%);-moz-transform: translate(-50%, -50%);-ms-transform: translate(-50%, -50%);-o-transform: translate(-50%, -50%);transform: translate(-50%, -50%);opacity: 0.5;cursor: pointer;}
.dj_bigbox img.up_img:hover,.dj_bigbox img.down_img:hover{opacity: 1;}
