{extend name="$_admin_base_layout" /}

{block name="plugins-css"}
<link href="__LIBS__/jquery-nestable/jquery.nestable.css" rel="stylesheet" type="text/css" />
{/block}

{block name="content"}
<link href="__ADMIN_CSS__/all.css" rel="stylesheet" type="text/css" />
<script src="__ADMIN_JS__/ajaxfileupload.js"></script>
<script src="__LIBS__/bootstrap-datepicker/bootstrap-datepicker.js"></script> 
<form id="add_form">

<div class="add_edit">
    <div class="title">账号信息</div>
    <div style="clear: both;"></div>
    <div class="con">
        <ul>
            <li>
                <span class="latips"><span class="required">*</span>登录名：</span>
                <input type="text" name="username" value="" placeholder="请输入登录名">
                <span class="bztips">允许数字、大小写字母及@符号（邮箱时）的3-20个字符</span>
            </li>
            <li>
                <span class="latips"><span class="required">*</span>登录密码：</span>
                <input type="password" name="password0" value="" placeholder="请输入登录密码">
                <span class="bztips">允许大小写字母、数字、特殊字符的8-16个字符，必须有其中三项组成</span>
            </li>
            <li>
                <span class="latips"><span class="required">*</span>确认登录密码：</span>
                <input type="password" name="password" value="" placeholder="请再次输入登录密码">
            </li>
            <li>
                <span class="latips"><span class="required">*</span>姓名：</span>
                <input type="text" name="nickname" value="" placeholder="请输入姓名">
                <span class="bztips">只允许输入汉字，限制2-8个字符</span>
            </li>
            <li>
                <span class="latips"><span class="required">*</span>职位：</span>
                <input type="text" name="job" value="" placeholder="请输入职位">
                <span class="bztips">限制2-8个字符</span>
            </li>
            <li>
                <span class="latips"><span class="required">*</span>手机号：</span>
                <input type="text" name="mobile" value="" placeholder="请输入手机号">
                <span class="bztips">只允许输入11位数字</span>
            </li>
            <li>
                <span class="latips"><span class="required">*</span>角色：</span>
                <select name="role">
                    <option value="">请选择</option>
                    {volist name='roles' id='vo'}
                    <option value="{$vo.id}">{$vo.name}</option>
                    {/volist}
                </select>
            </li>
        </ul>
        <div style="clear: both;"></div>
    </div>
</div>

    
</div>
<div style="margin: 40px auto;text-align: center;">
    <a href="javascript:;" class="btn btn-minw btn-primary rbt" id="add_form_submit">确&nbsp;定</a>
</div>

</form>


<script>
    $(function(){
        //提交
        $('#add_form_submit').click(function(){
            Dolphin.loading();
            $.ajax({
                type:'post',
                url:'{:url("manage/adminuser/add")}',
                data:$('#add_form').serializeArray(),
                dataType:'JSON',
                success:function(data){
                    Dolphin.loading('hide');
                    if (data.code==200) {
                        Dolphin.notify(data.msg, 'success');
                        setTimeout(function () {
                            location.href = '{:url("manage/adminuser/add")}';
                        }, 1500);
                    } else {
                        Dolphin.notify(data.msg, 'danger');
                        if(data.code==1001){
                            $('input[name="username"]').addClass('error');
                            $('input[name="username"]').focus();
                            var username_li = $('input[name="username"]').parent().offset();      
                            $("html,body").animate({scrollTop:username_li.top - "450" + "px"}, 0);
                        }else if(data.code==1002){
                            $('input[name="password0"]').addClass('error');
                            $('input[name="password0"]').focus();
                            var password0_li = $('input[name="password0"]').parent().offset();      
                            $("html,body").animate({scrollTop:password0_li.top - "450" + "px"}, 0);
                        }else if(data.code==1003){
                            $('input[name="password"]').addClass('error');
                            $('input[name="password"]').focus();
                            var password_li = $('input[name="password"]').parent().offset();      
                            $("html,body").animate({scrollTop:password_li.top - "450" + "px"}, 0);
                        }else if(data.code==1004){
                            $('input[name="nickname"]').addClass('error');
                            $('input[name="nickname"]').focus();
                            var nickname_li = $('input[name="nickname"]').parent().offset();      
                            $("html,body").animate({scrollTop:nickname_li.top - "450" + "px"}, 0);
                        }else if(data.code==1005){
                            $('input[name="job"]').addClass('error');
                            $('input[name="job"]').focus();
                            var job_li = $('input[name="job"]').parent().offset();      
                            $("html,body").animate({scrollTop:job_li.top - "450" + "px"}, 0);
                        }else if(data.code==1006){
                            $('input[name="mobile"]').addClass('error');
                            $('input[name="mobile"]').focus();
                            var mobile_li = $('input[name="mobile"]').parent().offset();      
                            $("html,body").animate({scrollTop:mobile_li.top - "450" + "px"}, 0);
                        }else if(data.code==1007){
                            $('select[name="role"]').addClass('error');
                            $('select[name="role"]').focus();
                            var role_li = $('select[name="role"]').parent().offset();      
                            $("html,body").animate({scrollTop:role_li.top - "450" + "px"}, 0);
                        }
                    }
                },
                error:function(xhr,status,error){
                    Dolphin.loading('hide');
                    Dolphin.notify('服务器错误~', 'danger');
                }
            });
        });
        $('body').on('blur','.add_edit .con ul li input[type="text"],.add_edit .con ul li input[type="password"],.add_edit .con ul li select,.add_edit .con ul li textarea',function(){
            $(this).removeClass('error');
        });
    });
</script>



<script src="__ADMIN_JS__/specil.js"></script>
{/block}

{block name="script"}
<script src="__LIBS__/jstree/jstree.min.js"></script>
<script src="__LIBS__/jquery-nestable/jquery.nestable.js"></script>
<script src="__LIBS__/jquery-ui/jquery-ui.min.js"></script>
<script src="__ADMIN_JS__/food.js"></script>
{/block}