{extend name="$_admin_base_layout" /}

{block name="plugins-css"}
<link href="__LIBS__/jquery-nestable/jquery.nestable.css" rel="stylesheet" type="text/css" />
{/block}

{block name="content"}
<link href="__ADMIN_CSS__/all.css" rel="stylesheet" type="text/css" />
<script src="__LIBS__/bootstrap-datepicker/bootstrap-datepicker.js"></script> 

<div class="filter_search">
    <form action="{:url('manage/adminuser/index')}" name="search_form">
        <div class="blo"><span class="latips">登录名：</span><input type="text" name="username" value="{$filter.username}" placeholder="请输入登录名"></div>
        <div class="blo"><span class="latips">姓名：</span><input type="text" name="nickname" value="{$filter.nickname}" placeholder="请输入姓名"></div>
        <div class="blo"><span class="latips">手机号：</span><input type="text" name="mobile" value="{$filter.mobile}" placeholder="请输入手机号"><a href="javascript:;" onclick="search_form.submit();" class="btn btn-minw btn-primary byt" style="margin-left: 30px;">查&nbsp;询</a></div>
        <input type="hidden" name="order" value="{$order}">
    </form>
    <div class="blo">
        {if condition='ismeunshow("manage/adminuser/add")'}
        <a href="{:url('manage/adminuser/add')}" class="btn btn-minw btn-primary rbt">添&nbsp;加</a>
        {/if}
    </div>
    <div style="clear: both;"></div>
</div>


<div class="table-responsive">
    <table class="table table-builder table-hover table-bordered table-striped js-table-checkable">
        <thead>
            <tr>
                <th>
                    ID 
                    <span>
                    {switch name="order"}
                        {case value="a.id asc"}
                        {php}$filter['order']='a.id desc';{/php}
                        <a href="{:url('manage/adminuser/index',$filter)}" data-toggle="tooltip" data-original-title="排序">
                            <i class="fa fa-caret-up"></i> 
                        </a>
                        {/case}
                        {case value="a.id desc"}
                        {php}$filter['order']='a.id asc';{/php}
                        <a href="{:url('manage/adminuser/index',$filter)}" data-toggle="tooltip" data-original-title="排序">
                            <i class="fa fa-caret-down"></i>
                        </a>
                        {/case}
                        {case value="a.create_time asc"}
                        {php}$filter['order']='a.id asc';{/php}
                        <a href="{:url('manage/adminuser/index',$filter)}" data-toggle="tooltip" data-original-title="排序">
                            <i class="fa fa-sort text-muted"></i>
                        </a>
                        {/case}
                        {case value="a.create_time desc"}
                        {php}$filter['order']='a.id asc';{/php}
                        <a href="{:url('manage/adminuser/index',$filter)}" data-toggle="tooltip" data-original-title="排序">
                            <i class="fa fa-sort text-muted"></i>
                        </a>
                        {/case}
                        {default /}
                        {php}$filter['order']='a.id asc';{/php}
                        <a href="{:url('manage/adminuser/index',$filter)}" data-toggle="tooltip" data-original-title="排序">
                            <i class="fa fa-sort text-muted"></i>
                        </a>
                    {/switch}
                     </span>
                </th>
                <th>
                    登录名  
                </th>
                <th>
                    姓名  
                </th>
                <th>
                    职位  
                </th>
                <th>
                    手机号  
                </th>
                <th>
                    角色  
                </th>
                <th>
                    创建时间
                    <span>
                    {switch name="order"}
                        {case value="a.id asc"}
                        {php}$filter['order']='a.create_time desc';{/php}
                        <a href="{:url('manage/adminuser/index',$filter)}" data-toggle="tooltip" data-original-title="排序">
                            <i class="fa fa-sort text-muted"></i>
                        </a>
                        {/case}
                        {case value="a.id desc"}
                        {php}$filter['order']='a.create_time desc';{/php}
                        <a href="{:url('manage/adminuser/index',$filter)}" data-toggle="tooltip" data-original-title="排序">
                            <i class="fa fa-sort text-muted"></i>
                        </a>
                        {/case}
                        {case value="a.create_time asc"}
                        {php}$filter['order']='a.create_time desc';{/php}
                        <a href="{:url('manage/adminuser/index',$filter)}" data-toggle="tooltip" data-original-title="排序">
                            <i class="fa fa-caret-up"></i> 
                        </a>
                        {/case}
                        {case value="a.create_time desc"}
                        {php}$filter['order']='a.create_time asc';{/php}
                        <a href="{:url('manage/adminuser/index',$filter)}" data-toggle="tooltip" data-original-title="排序">
                            <i class="fa fa-caret-down"></i> 
                        </a>
                        {/case}
                        {default /}
                        {php}$filter['order']='a.create_time desc';{/php}
                        <a href="{:url('manage/adminuser/index',$filter)}" data-toggle="tooltip" data-original-title="排序">
                            <i class="fa fa-sort text-muted"></i>
                        </a>
                    {/switch}
                     </span>
                </th>
                <th>
                    状态
                </th>
                <th style="text-align:center;">
                    操作
                </th>
        </thead>
        <tbody>
        {php}
            $ismeunshow_disable=ismeunshow("manage/adminuser/disable");
            $ismeunshow_enable=ismeunshow("manage/adminuser/enable");
            $ismeunshow_edit=ismeunshow("manage/adminuser/edit");
        {/php}
        {volist name="data" id="vo"}
        <tr>
            <td>
                {$vo.id}                                    
            </td>
            <td>
                {$vo.username}                                    
            </td>
            {if condition='$vo.id eq 1'}
            <td colspan="3">
                <div style="color: #ccc;text-align: center;">系统总账号</div>                                    
            </td>
            {elseif condition='$vo.id eq 2'}
            <td colspan="3">
                <div style="color: #ccc;text-align: center;">后台总账号</div>                                    
            </td>
            {elseif condition='$vo.role eq 2'}
            <td colspan="3">
                <div style="color: #ccc;text-align: center;">商户总账号</div>                                    
            </td>
            {else/}
            <td>
                {$vo.nickname}                                    
            </td>
            <td>
                {$vo.job}                                    
            </td>
            <td>
                {$vo.mobile}                                    
            </td>
            {/if}
            <td>
                {$vo.role_name}                                    
            </td>
            <td>
                {$vo.create_time_str}                                    
            </td>
            <td>
                {if condition='$vo.status'}已开通{else/}已冻结{/if}
            </td>
            <td style="text-align:center;">
                {if condition='$vo.id eq 1 || $vo.id eq 2 || $vo.role eq 2'}
                    <div style="color: #ccc;text-align: center;">不可操作</div>  
                {else/}
                    {if condition='$vo.status'}
                        {if condition='$ismeunshow_disable'}
                            <a href="javascript:;" status="0" class="enable_disable" admin_user_id="{$vo.id}">冻结</a>&nbsp;
                        {/if}
                    {else/}
                        {if condition='$ismeunshow_enable'}
                            <a href="javascript:;" status="1" class="enable_disable" admin_user_id="{$vo.id}">开通</a>&nbsp;
                        {/if}
                    {/if}
                    {if condition='$ismeunshow_edit'}
                        <a href="{:url('manage/adminuser/edit',['id'=>$vo['id']])}">修改</a>&nbsp;
                    {/if}
                {/if}
            </td>
        </tr>
        {/volist}
        </tbody>
    </table>
</div>


<div style="text-align: right;margin:20px 5px;height: 45px;">
    {notempty name="page"}
        {$page}  
    {/notempty}
</div>
<div style="margin-bottom: 40px;"></div>
    
<script>
$(function(){
    //开通和冻结
    $("body").on('click','a.enable_disable',function(){
        var admin_user_id=parseInt($(this).attr('admin_user_id'));
        var status=parseInt($(this).attr('status'));
        var url="";
        if(status){
            url="{:url('manage/adminuser/enable')}";
        }else{
            url="{:url('manage/adminuser/disable')}";
        }
        Dolphin.loading();
        $.ajax({
            type:'post',
            url:url,
            data:{'id':admin_user_id},
            dataType:'JSON',
            success:function(data){
                Dolphin.loading('hide');
                if (data.code==200) {
                    Dolphin.notify(data.msg, 'success');
                    setTimeout(function () {
                        location.reload();
                    }, 1500);
                } else {
                    Dolphin.notify(data.msg, 'danger');
                }
            },
            error:function(xhr,status,error){
                Dolphin.loading('hide');
                Dolphin.notify('服务器错误~', 'danger');
            }
        });
    });
});
</script>

<script src="__ADMIN_JS__/specil.js"></script>
{/block}

{block name="script"}
<script src="__LIBS__/jstree/jstree.min.js"></script>
<script src="__LIBS__/jquery-nestable/jquery.nestable.js"></script>
<script src="__LIBS__/jquery-ui/jquery-ui.min.js"></script>
<script src="__ADMIN_JS__/food.js"></script>
{/block}
