{extend name="$_admin_base_layout" /}

{block name="plugins-css"}
<link href="__LIBS__/jquery-nestable/jquery.nestable.css" rel="stylesheet" type="text/css" />
{/block}

{block name="content"}
<link href="__ADMIN_CSS__/all.css" rel="stylesheet" type="text/css" />
<script src="__ADMIN_JS__/ajaxfileupload.js"></script>
<script src="__LIBS__/bootstrap-datepicker/bootstrap-datepicker.js"></script> 
<form id="edit_form">

<div class="add_edit">
    <div class="title">修改密码</div>
    <div style="clear: both;"></div>
    <div class="con">
        <ul>
            <li>
                <span class="latips"><span class="required">*</span>密码：</span>
                <input type="password" name="password0" value="" placeholder="请输入密码">
                <span class="bztips">允许大小写数字、字母、特殊字符的8-16个字符，必须有其中三项组成</span>
            </li>
            <li>
                <span class="latips"><span class="required">*</span>确认密码：</span>
                <input type="password" name="password" value="" placeholder="请输入确认密码">
            </li>
        </ul>
        <div style="clear: both;"></div>
    </div>
</div>


<div style="margin: 40px auto;text-align: center;">
    <a href="javascript:;" class="btn btn-minw btn-primary rbt" id="edit_form_submit">确&nbsp;定</a>
</div>

</form>


<script>
    $(function(){
        //提交
        $('#edit_form_submit').click(function(){
            if(!confirm('确定修改密码？修改成功后将自动退出管理系统！')){
                return false;
            }
            Dolphin.loading();
            $.ajax({
                type:'post',
                url:'{:url("manage/info/setpassword")}',
                data:$('#edit_form').serializeArray(),
                dataType:'JSON',
                success:function(data){
                    Dolphin.loading('hide');
                    if (data.code==200) {
                        Dolphin.notify(data.msg, 'success');
                        setTimeout(function () {
                            location.href = '{:url("user/publics/signout")}';
                        }, 1500);
                    } else {
                        Dolphin.notify(data.msg, 'danger'); 
                        if(data.code==1001){
                            $('input[name="password0"]').addClass('error');
                            $('input[name="password0"]').focus();
                            var password0_li = $('input[name="password0"]').parent().offset();      
                            $("html,body").animate({scrollTop:password0_li.top - "450" + "px"}, 0);
                        }else if(data.code==1002){
                            $('input[name="password"]').addClass('error');
                            $('input[name="password"]').focus();
                            var password_li = $('input[name="password"]').parent().offset();      
                            $("html,body").animate({scrollTop:password_li.top - "450" + "px"}, 0);
                        }
                    }
                },
                error:function(xhr,status,error){
                    Dolphin.loading('hide');
                    Dolphin.notify('服务器错误~', 'danger');
                }
            });
        });
        $('body').on('blur','.add_edit .con ul li input[type="text"],.add_edit .con ul li input[type="password"],.add_edit .con ul li select,.add_edit .con ul li textarea',function(){
            $(this).removeClass('error');
        });
    });
</script>



<script src="__ADMIN_JS__/specil.js"></script>
{/block}

{block name="script"}
<script src="__LIBS__/jstree/jstree.min.js"></script>
<script src="__LIBS__/jquery-nestable/jquery.nestable.js"></script>
<script src="__LIBS__/jquery-ui/jquery-ui.min.js"></script>
<script src="__ADMIN_JS__/food.js"></script>
{/block}