{extend name="$_admin_base_layout" /}

{block name="plugins-css"}
<link href="__LIBS__/jquery-nestable/jquery.nestable.css" rel="stylesheet" type="text/css" />
{/block}

{block name="content"}
<link href="__ADMIN_CSS__/all.css" rel="stylesheet" type="text/css" />
<script src="__ADMIN_JS__/ajaxfileupload.js"></script>
<script src="__LIBS__/bootstrap-datepicker/bootstrap-datepicker.js"></script> 
<script type="text/javascript" charset="utf-8" src="__LIBS__/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="__LIBS__/ueditor/ueditor.all.min.js"></script>
<!--建议手动加在语言，避免在ie下有时因为加载语言失败导致编辑器加载失败-->
<!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文-->
<script type="text/javascript" charset="utf-8" src="__LIBS__/ueditor/lang/zh-cn/zh-cn.js"></script>
<style>#editor{float: left;width:70%;}</style>
<form id="edit_form">
<input type="hidden" name="id" value="{$article.id}">

<div class="add_edit">
    <div class="con">
        <ul>
            <li>
                <span class="latips"><span class="required">*</span>文章标题：</span>
                <input type="text" name="title" value="{$article.title}" placeholder="请输入文章标题">
                <span class="bztips">长度不超过40个字</span>
            </li>
            <li>
                <span class="latips"><span class="required">*</span>作者：</span>
                <input type="text" name="writer" value="{$article.writer}" placeholder="请输入作者">
                <span class="bztips">长度不超过8个字</span>
            </li>
            <li>
                <span class="latips"><span class="required">*</span>发布日期：</span>
                <input type="text" name="ground_at" value="{$article.ground_at}" placeholder="请选择日期" style="width: 11%;min-width: 95px;" class="timepick">
            </li>
            <li>
                <span class="latips"><span class="required">*</span>图片：</span>
                <input type="hidden" name="img" value="{$article.img}" class="img">
                {if condition='$article.img neq ""'}
                <div class="imgone">
                    <a href="javascript:void;">
                        <img src="__ADMIN_IMG__/delimg.jpg" alt="删除按钮" class="delimg" title="点击删除">
                        <img src="{$article.img}" onclick="window.open('{$article.img}');" title="点击查看大图">
                    </a>
                    <span class="editimg addoneimg" title="点击更换" ralate="img" suffix='png,jpg,jpeg' msize='3145728'>修改</span>
                </div>
                {else/}
                <div class="addimg addoneimg" title="点击上传" ralate="img" suffix='png,jpg,jpeg' msize='3145728'><img src="__ADMIN_IMG__/add.png"></div>
                {/if}
                <span class="bztips">支持扩展名：png,jpg,jpeg，大小不超过3M</span>
            </li>
            <li>
                <span class="latips"><span class="required">*</span>描述：</span>
                <textarea name="describe" maxlength="200" placeholder="请输入描述" class="numtext">{$article.describe}</textarea>
                <span class="numtips">已输入<b>{$article.describe_len}</b>/200个字</span>
            </li>
            <li>
                <span class="latips" id="editor_latips" style="float: left;">正文：</span>
                <textarea name="content" id="editor">{$article.content}</textarea> 
                <span class="bztips" id="editor_bztips" style="display: block;clear: both;">长度不超过3000个字</span>
            </li>
        </ul>
        <div style="clear: both;"></div>
    </div>
</div>


<div style="margin: 40px auto;text-align: center;">
    <a href="javascript:;" class="btn btn-minw btn-primary rbt" id="edit_form_submit">确&nbsp;定</a>
</div>

</form>

<script>
var editor = new UE.ui.Editor(); 
UE.getEditor('editor',{
    initialFrameHeight:800,//设置编辑器高度
});   
UE.Editor.prototype._bkGetActionUrl = UE.Editor.prototype.getActionUrl;   
UE.Editor.prototype.getActionUrl = function(action) {  
    if (action == 'uploadimage' || action == 'uploadscrawl' || action == 'uploadvideo' || action == 'uploadfile') {  
        return '{:url("index/file/ueditorupload")}';//这就是自定义的上传地址  
    }  else {  
        return this._bkGetActionUrl.call(this, action);  
    }  
}  
</script>

<script>
    $(function(){
        $('#editor_bztips').css('marginLeft',($('#editor_latips').width()-10)+'px');
        //单图上传
        $("body").on('click','.addoneimg',function(){
            var ralate=$(this).attr('ralate');
            var suffix=$(this).attr('suffix');
            var msize=$(this).attr('msize');
            $('#up_one_form_in').attr('ralate',ralate);
            $('#up_one_form_in').attr('suffix',suffix);
            $('#up_one_form_in').attr('msize',msize);
            $('#up_one_form_in').click();
        });
        $("body").on('change','#up_one_form_in',function(){
            var up_len=this.files.length;
            if(up_len<=0) return false;
            var ralate=$(this).attr('ralate');
            var suffix=$(this).attr('suffix');
            var msize=$(this).attr('msize');
            Dolphin.loading();
            $.ajaxFileUpload({
                fileElementId: 'up_one_form_in',    //需要上传的文件域的ID，即<input type="file">的ID。
                url: "{:url('index/file/upload',['type'=>'image','multiple'=>'0'])}", //后台方法的路径
                type: 'post',   //当要提交自定义参数时，这个参数要设置成post
                data:{suffix:suffix,msize:msize},
                dataType: 'json',   //服务器返回的数据类型。可以为xml,script,json,html。如果不填写，jQuery会自动判断。
                secureuri: false,   //是否启用安全提交，默认为false。
                async : true,   //是否是异步
                success: function(data) {   //提交成功后自动执行的处理函数，参数data就是服务器返回的数据。
                    Dolphin.loading('hide');
                    $('#up_one_form_in').attr('ralate','');
                    $('#up_one_form_in').attr('suffix','');
                    $('#up_one_form_in').attr('msize','');
                    if (data.code==200) {
                        $('.'+ralate).val(data.data);
                        $('.'+ralate).parent().find('.addimg').remove();
                        $('.'+ralate).parent().find('.imgone').remove();
                        var html='<div class="imgone"><a href="javascript:;"><img src="__ADMIN_IMG__/delimg.jpg" alt="删除按钮" class="delimg" title="点击删除"><img src="'+data.data+'" onclick="window.open(\''+data.data+'\');" title="点击查看大图"></a><span class="editimg addoneimg" title="点击更换" ralate="'+ralate+'" suffix="'+suffix+'" msize="'+msize+'">修改</span></div>';
                        $('.'+ralate).after(html);
                    } else {
                        Dolphin.notify(data.msg, 'danger');
                    }
                },
                error: function(data, status, e) {  //提交失败自动执行的处理函数。
                    Dolphin.loading('hide');
                    $('#up_one_form_in').attr('ralate','');
                    $('#up_one_form_in').attr('suffix','');
                    $('#up_one_form_in').attr('msize','');
                    Dolphin.notify('服务器错误~', 'danger');
                }
            });
        });
        //单图删除
        $("body").on('click','.add_edit .con ul li .imgone a img.delimg',function(){
            var ralate=$(this).parent().parent().find('.editimg').attr('ralate');
            var suffix=$(this).parent().parent().find('.editimg').attr('suffix');
            var msize=$(this).parent().parent().find('.editimg').attr('msize');
            $(this).parent().parent().parent().find('input').val('');
            $(this).parent().parent().parent().find('input').after('<div class="addimg addoneimg" title="点击上传" ralate="'+ralate+'" suffix="'+suffix+'" msize="'+msize+'"><img src="__ADMIN_IMG__/add.png"></div>');
            $(this).parent().parent().remove();
        });
        //文本域字符提示
        $('textarea.numtext').keyup(function(){
            var len = $(this).val().length;
            $(this).parent().find('.numtips b').html(len);
        });
        //提交
        $('#edit_form_submit').click(function(){
            Dolphin.loading();
            $.ajax({
                type:'post',
                url:'{:url("manage/article/edit")}',
                data:$('#edit_form').serializeArray(),
                dataType:'JSON',
                success:function(data){
                    Dolphin.loading('hide');
                    if (data.code==200) {
                        Dolphin.notify(data.msg, 'success');
                        setTimeout(function () {
                            location.href = '{:url("manage/article/edit",["id"=>$article["id"]])}';
                        }, 1500);
                    } else {
                        Dolphin.notify(data.msg, 'danger');
                        if(data.code==1001){
                            $('input[name="title"]').addClass('error');
                            $('input[name="title"]').focus();
                            var title_li = $('input[name="title"]').parent().offset();      
                            $("html,body").animate({scrollTop:title_li.top - "450" + "px"}, 0);
                        }else if(data.code==1002){
                            $('input[name="writer"]').addClass('error');
                            $('input[name="writer"]').focus();
                            var writer_li = $('input[name="writer"]').parent().offset();      
                            $("html,body").animate({scrollTop:writer_li.top - "450" + "px"}, 0);
                        }else if(data.code==1003){
                            $('.add_edit .con ul li .addimg').addClass('error');
                            var img_li = $('input[name="img"]').parent().offset();      
                            $("html,body").animate({scrollTop:img_li.top - "450" + "px"}, 0);
                        }else if(data.code==1004){
                            $('textarea[name="describe"]').addClass('error');
                            $('textarea[name="describe"]').focus();
                            var describe_li = $('textarea[name="describe"]').parent().offset();      
                            $("html,body").animate({scrollTop:describe_li.top - "450" + "px"}, 0);
                        }else if(data.code==1005){
                            UE.getEditor('editor').focus();
                        }else if(data.code==1006){
                            $('input[name="ground_at"]').addClass('error');
                            var ground_at_li = $('input[name="ground_at"]').parent().offset();      
                            $("html,body").animate({scrollTop:ground_at_li.top - "450" + "px"}, 0);
                        }
                    }
                },
                error:function(xhr,status,error){
                    Dolphin.loading('hide');
                    Dolphin.notify('服务器错误~', 'danger');
                }
            });
        });
        $('body').on('blur','.add_edit .con ul li input[type="text"],.add_edit .con ul li input[type="password"],.add_edit .con ul li select,.add_edit .con ul li textarea',function(){
            $(this).removeClass('error');
        });
        $('.content').click(function(){
            $('.add_edit .con ul li .addimg').removeClass('error');
        });
    });
</script>



<script src="__ADMIN_JS__/specil.js"></script>
{/block}

{block name="script"}
<script src="__LIBS__/jstree/jstree.min.js"></script>
<script src="__LIBS__/jquery-nestable/jquery.nestable.js"></script>
<script src="__LIBS__/jquery-ui/jquery-ui.min.js"></script>
<script src="__ADMIN_JS__/food.js"></script>
{/block}