{extend name="$_admin_base_layout" /}

{block name="plugins-css"}
<link href="__LIBS__/jquery-nestable/jquery.nestable.css" rel="stylesheet" type="text/css" />
{/block}

{block name="content"}
<link href="__ADMIN_CSS__/all.css" rel="stylesheet" type="text/css" />
<script src="__LIBS__/bootstrap-datepicker/bootstrap-datepicker.js"></script> 

<div class="filter_search">
    <form action="{:url('manage/feedback/index')}" name="search_form">
        <div class="blo"><span class="latips">手机号：</span><input type="text" name="mobile" value="{$filter.mobile}" placeholder="请输入手机号"></div>
        <div class="blo"><span class="latips">反馈日期：</span><input type="text" name="feedback_at_start" value="{$filter.feedback_at_start}" class="timepick" readonly="readonly" placeholder="请选择开始日期"><span class="latips">~~</span><input type="text" name="feedback_at_end" value="{$filter.feedback_at_end}" class="timepick" readonly="readonly" placeholder="请选择结束日期"><a href="javascript:;" onclick="search_form.submit();" class="btn btn-minw btn-primary byt" style="margin-left: 30px;">查&nbsp;询</a></div>
        <input type="hidden" name="order" value="{$order}">
    </form>
    <div style="clear: both;"></div>
</div>


<div class="table-responsive">
    <table class="table table-builder table-hover table-bordered table-striped js-table-checkable">
        <thead>
            <tr>
                <th style="min-width: 80px;">
                    ID 
                    <span>
                    {switch name="order"}
                        {case value="a.id asc"}
                        {php}$filter['order']='a.id desc';{/php}
                        <a href="{:url('manage/feedback/index',$filter)}" data-toggle="tooltip" data-original-title="排序">
                            <i class="fa fa-caret-up"></i> 
                        </a>
                        {/case}
                        {case value="a.id desc"}
                        {php}$filter['order']='a.id asc';{/php}
                        <a href="{:url('manage/feedback/index',$filter)}" data-toggle="tooltip" data-original-title="排序">
                            <i class="fa fa-caret-down"></i>
                        </a>
                        {/case}
                        {case value="a.feedback_at asc"}
                        {php}$filter['order']='a.id asc';{/php}
                        <a href="{:url('manage/feedback/index',$filter)}" data-toggle="tooltip" data-original-title="排序">
                            <i class="fa fa-sort text-muted"></i>
                        </a>
                        {/case}
                        {case value="a.feedback_at desc"}
                        {php}$filter['order']='a.id asc';{/php}
                        <a href="{:url('manage/feedback/index',$filter)}" data-toggle="tooltip" data-original-title="排序">
                            <i class="fa fa-sort text-muted"></i>
                        </a>
                        {/case}
                        {default /}
                        {php}$filter['order']='a.id asc';{/php}
                        <a href="{:url('manage/feedback/index',$filter)}" data-toggle="tooltip" data-original-title="排序">
                            <i class="fa fa-sort text-muted"></i>
                        </a>
                    {/switch}
                     </span>
                </th>
                <th style="min-width: 120px;">
                    手机号  
                </th>
                <th>
                    反馈内容  
                </th>
                <th style="min-width: 150px;">
                    反馈时间
                    <span>
                    {switch name="order"}
                        {case value="a.id asc"}
                        {php}$filter['order']='a.feedback_at desc';{/php}
                        <a href="{:url('manage/feedback/index',$filter)}" data-toggle="tooltip" data-original-title="排序">
                            <i class="fa fa-sort text-muted"></i>
                        </a>
                        {/case}
                        {case value="a.id desc"}
                        {php}$filter['order']='a.feedback_at desc';{/php}
                        <a href="{:url('manage/feedback/index',$filter)}" data-toggle="tooltip" data-original-title="排序">
                            <i class="fa fa-sort text-muted"></i>
                        </a>
                        {/case}
                        {case value="a.feedback_at asc"}
                        {php}$filter['order']='a.feedback_at desc';{/php}
                        <a href="{:url('manage/feedback/index',$filter)}" data-toggle="tooltip" data-original-title="排序">
                            <i class="fa fa-caret-up"></i> 
                        </a>
                        {/case}
                        {case value="a.feedback_at desc"}
                        {php}$filter['order']='a.feedback_at asc';{/php}
                        <a href="{:url('manage/feedback/index',$filter)}" data-toggle="tooltip" data-original-title="排序">
                            <i class="fa fa-caret-down"></i> 
                        </a>
                        {/case}
                        {default /}
                        {php}$filter['order']='a.feedback_at desc';{/php}
                        <a href="{:url('manage/feedback/index',$filter)}" data-toggle="tooltip" data-original-title="排序">
                            <i class="fa fa-sort text-muted"></i>
                        </a>
                    {/switch}
                     </span>
                </th>
        </thead>
        <tbody>
        {volist name="data" id="vo"}
        <tr>
            <td>
                {$vo.id}                                    
            </td>
            <td>
                {$vo.mobile}                                  
            </td>
            <td style="max-width: 60%;">
                <div style="word-wrap:break-word;word-break:break-all;white-space:normal;width: 100%;">
                    {$vo.content}
                </div>                           
            </td>
            <td>
                {$vo.feedback_at_str}                                    
            </td>
        </tr>
        {/volist}
        {if condition="!count($data)"}
        <tr>
            <td colspan="4"><div style="color: #ccc;height: 80px;line-height: 80px;text-align: center;font-size: 20px;">！暂无数据</div></td>
        </tr>
        {/if}
        </tbody>
    </table>
</div>


<div style="text-align: right;margin:20px 5px;height: 45px;">
    {notempty name="page"}
        {$page}  
    {/notempty}
</div>
<div style="margin-bottom: 40px;"></div>
    


<script src="__ADMIN_JS__/specil.js"></script>
{/block}

{block name="script"}
<script src="__LIBS__/jstree/jstree.min.js"></script>
<script src="__LIBS__/jquery-nestable/jquery.nestable.js"></script>
<script src="__LIBS__/jquery-ui/jquery-ui.min.js"></script>
<script src="__ADMIN_JS__/food.js"></script>
{/block}
