{extend name="$_admin_base_layout" /}

{block name="plugins-css"}
<link href="__LIBS__/jquery-nestable/jquery.nestable.css" rel="stylesheet" type="text/css" />
{/block}

{block name="content"}
<link href="__ADMIN_CSS__/all.css" rel="stylesheet" type="text/css" />
<script src="__ADMIN_JS__/ajaxfileupload.js"></script>
<script src="__LIBS__/bootstrap-datepicker/bootstrap-datepicker.js"></script> 
<style>
.auth_btn_all{display: inline-block;vertical-align: middle;text-align: center;padding: 10px 10px;}
.auth_btn_all .auth_btn{display: inline-block;width: 90px;height: 30px;line-height: 30px; background: #5c90d2;color: #fff;text-align: center;border-radius: 5px;vertical-align: middle;cursor: pointer;}
.menu_box{width:40%;min-width:420px;}
.menu_auth{display: inline-block;border: 1px solid #ccc;padding: 10px 10px;vertical-align: middle;width: 100%;}
.menu_auth .menu_auth_li{height: 30px;line-height: 30px;padding: 0 10px;vertical-align: middle;}
.menu_auth .menu_auth_li.no_in{opacity: 0.5;}
.menu_auth .menu_auth_li img{height: 18px; width: 18px;line-height: 30px;display: inline-block;cursor: pointer;vertical-align: middle;}
.menu_auth .menu_auth_li img.menu_none{cursor: default;}
.menu_auth .menu_auth_li label{cursor: pointer; display: inline-block;vertical-align: middle;height: 30px;line-height: 30px;}
.menu_auth .menu_auth_li input[type="checkbox"]{height: 18px;width: 18px;line-height: 30px;display: inline-block;vertical-align: middle;margin:0;}
.menu_auth .menu_auth_li span.menu_title{height: 30px;line-height: 30px;display: inline-block;vertical-align: middle;}
.menu_auth .menu_auth_li i.url_value{height: 30px;line-height: 30px;font-size: 12px;color: #999; display: inline-block;vertical-align: middle;}
</style>



<div class="add_edit">
    <div class="title">角色信息：</div>
    <div style="clear: both;"></div>
    <div class="con">
        <ul>
            <li>
                <span class="looktips">角色名称：</span>
                <span class="lacon">{$admin_role.name}</span>
            </li>
            <li>
                <span class="looktips">已选权限：</span>
                <div style="display: inline-block;" class="menu_box">
                <div class="auth_btn_all">
                    <div class="auth_btn auth_btn_down">全部展开</div>
                    <div class="auth_btn auth_btn_up">全部收起</div>
                </div>
                <br>
                <div class="menu_auth">
                    {volist name='admin_menu' id='vo'}
                    {php}
                        $padle=($vo['level']-1)*20+10;
                        $pix=true;
                        if($menu_auth===false){
                            $menus=db('admin_menu')->field('id,title,pid')->where('pid',$vo['id'])->order('sort asc')->select();
                            if(!$menus){
                                $pix=false;
                            }
                        }else{
                            $menus=db('admin_menu')->field('id,title,pid')->where('id','in',$menu_auth)->where('pid',$vo['id'])->order('sort asc')->select();
                            if(!$menus){
                                $pix=false;
                            }
                        }
                    {/php}
                    <div class="menu_auth_li{if condition='!in_array($vo.id,$admin_role.menu_auth)'} no_in{/if}" style="padding-left: {$padle}px;" level='{$vo.level}'>
                        {if condition='$pix'}
                        <img src="__ADMIN_IMG__/finecar/golle-down.png" class="menu_down" title="点击收起">
                        {else/}
                        <img src="__ADMIN_IMG__/finecar/golle-none.png" class="menu_none">
                        {/if}
                        <label>
                            <input type="checkbox" name="menu_auth[]" value="{$vo.id}" {if condition='in_array($vo.id,$admin_role.menu_auth)'}checked="checked"{/if} disabled="disabled">
                            <span class="menu_title">{$vo.title}</span>
                            &nbsp;&nbsp;&nbsp;&nbsp;<i class="url_value">{$vo.url_value}</i>
                        </label>
                    </div>
                    {/volist}
                </div>
                </div>
            </li>
        </ul>
        <div style="clear: both;"></div>
    </div>
</div>


<div style="margin: 40px auto;text-align: center;">
    <a href="javascript:window.history.go(-1);" class="btn btn-minw btn-primary rbt">返&nbsp;回</a>
</div>


<script>
    $(function(){    
        //全部收起
        $('body').on('click','.auth_btn_all .auth_btn_up',function(){
            $('.menu_auth .menu_auth_li').each(function(){
                var img_menu_down=$(this).find('img.menu_down');
                img_menu_down.prop('src','__ADMIN_IMG__/finecar/golle-right.png');
                img_menu_down.addClass('menu_up');
                img_menu_down.removeClass('menu_down');
                img_menu_down.prop('title','点击展开');
                var level=parseInt($(this).attr('level'));
                if(level>1){
                    $(this).hide();
                }
            });
        });
        //全部展开
        $('body').on('click','.auth_btn_all .auth_btn_down',function(){
            $('.menu_auth .menu_auth_li').each(function(){
                var img_menu_up=$(this).find('img.menu_up');
                img_menu_up.prop('src','__ADMIN_IMG__/finecar/golle-down.png');
                img_menu_up.addClass('menu_down');
                img_menu_up.removeClass('menu_up');
                img_menu_up.prop('title','点击收起');
                var level=parseInt($(this).attr('level'));
                if(level>1){
                    $(this).show();
                }
            });
        });
        //收起
        $('body').on('click','.menu_auth .menu_auth_li img.menu_down',function(){
            var level=$(this).parent().attr('level');
            var _this=$(this);
            _this.parent().nextAll('.menu_auth_li').each(function(){
                var le=$(this).attr('level');
                if(level>=le){
                    return false;
                }else{
                    $(this).hide();
                }
            });
            _this.prop('src','__ADMIN_IMG__/finecar/golle-right.png');
            _this.addClass('menu_up');
            _this.removeClass('menu_down');
            _this.prop('title','点击展开');
        });
        //展开
        $('body').on('click','.menu_auth .menu_auth_li img.menu_up',function(){
            var level=$(this).parent().attr('level');
            var _this=$(this);
            _this.parent().nextAll('.menu_auth_li').each(function(){
                var le=$(this).attr('level');
                if(level>=le){
                    return false;
                }else{
                    $(this).find('img.menu_up').prop('src','__ADMIN_IMG__/finecar/golle-down.png').addClass('menu_down').removeClass('menu_up');
                    $(this).show();
                }
            });
            _this.prop('src','__ADMIN_IMG__/finecar/golle-down.png');
            _this.addClass('menu_down');
            _this.removeClass('menu_up');
            _this.prop('title','点击收起');
        });
    });
</script>



<script src="__ADMIN_JS__/specil.js"></script>
{/block}

{block name="script"}
<script src="__LIBS__/jstree/jstree.min.js"></script>
<script src="__LIBS__/jquery-nestable/jquery.nestable.js"></script>
<script src="__LIBS__/jquery-ui/jquery-ui.min.js"></script>
<script src="__ADMIN_JS__/food.js"></script>
{/block}