{extend name="$_admin_base_layout" /}

{block name="plugins-css"}
<link href="__LIBS__/jquery-nestable/jquery.nestable.css" rel="stylesheet" type="text/css" />
{/block}

{block name="content"}
<link href="__ADMIN_CSS__/all.css" rel="stylesheet" type="text/css" />
<script src="__LIBS__/bootstrap-datepicker/bootstrap-datepicker.js"></script> 
<form id="add_form">


<div class="add_edit">
    <div class="title">订单基本信息</div>
    <div style="clear: both;"></div>
    <div class="con">
        <ul>
            <li>
                <span class="looktips">订单号：</span>
                {if condition='$order.sn!==""'}
                <span class="lacon">{$order.sn}</span>
                {else/}
                <span class="lacon" style="color:#ccc;">暂无</span>
                {/if}
            </li>
            <li>
                <span class="looktips">成交客户：</span>
                {if condition='$order.customer_name!==""'}
                <span class="lacon">{$order.customer_name}</span>
                {else/}
                <span class="lacon" style="color:#ccc;">暂无</span>
                {/if}
            </li>
            <li>
                <span class="looktips">成交车源：</span>
                {if condition='$order.car_source!==""'}
                <span class="lacon">{$order.car_source}</span>
                {else/}
                <span class="lacon" style="color:#ccc;">暂无</span>
                {/if}
            </li>
            <li>
                <span class="looktips">订单总额：</span>
                {if condition='$order.amount!==""'}
                <span class="lacon">{$order.amount}万元</span>
                {else/}
                <span class="lacon" style="color:#ccc;">暂无</span>
                {/if}
            </li>
            <li>
                <span class="looktips">订金金额：</span>
                {if condition='$order.earnest!== ""'}
                <span class="lacon">{$order.earnest}万元</span>
                {else/}
                <span class="lacon" style="color:#ccc;">暂无</span>
                {/if}
            </li>
            <li>
                <span class="looktips">付款时间：</span>
                {if condition='$order.paid_at!==""'}
                <span class="lacon">{$order.paid_at}</span>
                {else/}
                <span class="lacon" style="color:#ccc;">暂无</span>
                {/if}
            </li>
            <li>
                <span class="looktips">付款方式：</span>
                {if condition='$order.paid_type!==""'}
                <span class="lacon">{$order.paid_type}</span>
                {else/}
                <span class="lacon" style="color:#ccc;">暂无</span>
                {/if}
            </li>
            <li>
                <span class="looktips">合同扫描件：</span>
                {if condition='$order.contract_img===""'}
                <span class="lacon" style="color:#ccc;">暂无</span>
                {else/}
                <div class="imgone">
                    <a href="javascript:void;">
                        <img src="{$order.contract_img}" onclick="window.open('{$order.contract_img}');" title="点击查看大图">
                    </a>
                </div>
                {/if}
            </li>
            <li>
                <span class="looktips">订单状态：</span>
                <span class="lacon">
                {switch name="order.state"}
                    {case value="0"}
                    已预订
                    {/case}
                    {case value="1"}
                    已成交
                    {/case}
                    {case value="-1"}
                    已违约
                    {/case}
                    {default /}
                    <span class="lacon" style="color:#ccc;">暂无</span>
                {/switch}
                </span>
            </li>
            <li>
                <span class="looktips">客户状态：</span>
                <span class="lacon">
                {switch name="order.customer_state"}
                    {case value="0"}
                    未到店
                    {/case}
                    {case value="1"}
                    已到店
                    {/case}
                    {case value="2"}
                    已预订
                    {/case}
                    {case value="3"}
                    已成交
                    {/case}
                    {case value="-1"}
                    战败
                    {/case}
                    {default /}
                    <span class="lacon" style="color:#ccc;">暂无</span>
                {/switch}
                </span>
            </li>
            <li>
                <span class="looktips">销售人员：</span>
                {if condition='$order.sale_name!==""'}
                <span class="lacon">{$order.sale_name}</span>
                {else/}
                <span class="lacon" style="color:#ccc;">暂无</span>
                {/if}
            </li>
            <li>
                <span class="looktips">创建时间：</span>
                {if condition='$order.created_at_str!==""'}
                <span class="lacon">{$order.created_at_str}</span>
                {else/}
                <span class="lacon" style="color:#ccc;">暂无</span>
                {/if}
            </li>
            <li>
                <span class="looktips" style="vertical-align:top;">订单备注：</span>
                {if condition='$order.remark!==""'}
                <span class="lacon">{$order.remark}</span>
                {else/}
                <span class="lacon" style="color:#ccc;">暂无</span>
                {/if}
            </li>
        </ul>
        <div style="clear: both;"></div>
    </div>
</div>

<div style="margin: 40px auto;text-align: center;">
    <a href="javascript:window.history.go(-1);" class="btn btn-minw btn-primary rbt">返&nbsp;回</a>
</div>

</form>
<script src="__ADMIN_JS__/specil.js"></script>
{/block}

{block name="script"}
<script src="__LIBS__/jstree/jstree.min.js"></script>
<script src="__LIBS__/jquery-nestable/jquery.nestable.js"></script>
<script src="__LIBS__/jquery-ui/jquery-ui.min.js"></script>
<script src="__ADMIN_JS__/food.js"></script>
{/block}