{extend name="$_admin_base_layout" /}

{block name="plugins-css"}
<link href="__LIBS__/jquery-nestable/jquery.nestable.css" rel="stylesheet" type="text/css" />
{/block}

{block name="content"}
<link href="__ADMIN_CSS__/all.css" rel="stylesheet" type="text/css" />
<script src="__LIBS__/bootstrap-datepicker/bootstrap-datepicker.js"></script> 

<div style="height: 60px; line-height: 60px;margin-bottom: 20px;background: #fff;padding:0 20px;">
    <span style="color: #888;">注：如果点击打印没有响应或者打印没有背景颜色，请使用<b>谷歌浏览器</b>进行打印！</span>
</div>

<iframe src="{:url('index/iframe/carsourceprintig',['id'=>$id])}" frameborder="0" style="width: 100%;min-width: 1300px; height: 1000px;min-width: 1000px;background: #fff;padding:20px 0;margin:20px 0;"></iframe>

<script src="__ADMIN_JS__/specil.js"></script>
{/block}

{block name="script"}
<script src="__LIBS__/jstree/jstree.min.js"></script>
<script src="__LIBS__/jquery-nestable/jquery.nestable.js"></script>
<script src="__LIBS__/jquery-ui/jquery-ui.min.js"></script>
<script src="__ADMIN_JS__/food.js"></script>
{/block}