{extend name="$_admin_base_layout" /}

{block name="plugins-css"}
<link href="__LIBS__/jquery-nestable/jquery.nestable.css" rel="stylesheet" type="text/css" />
{/block}

{block name="content"}
<link href="__ADMIN_CSS__/all.css" rel="stylesheet" type="text/css" />
<script src="__ADMIN_JS__/ajaxfileupload.js"></script>
<script src="__LIBS__/bootstrap-datepicker/bootstrap-datepicker.js"></script> 
<form id="edit_form">
<input type="hidden" name="id" value="{$merchant.id}">
<div class="add_edit">
    <div class="title">商户基本信息</div>
    <div style="clear: both;"></div>
    <div class="con">
        <ul>
            <li>
                <span class="latips">商户号：</span>
                <span class="lacon">{$merchant.sn}</span>
            </li>
            <li>
                <span class="latips"><span class="required">*</span>公司名称：</span>
                <input type="text" name="company_name" value="{$merchant.company_name}" placeholder="请输入公司名称">
                <span class="bztips">只允许输入汉字或中英文()，不允许输入字母、数字、及其他特殊符号</span>
            </li>
            <li>
                <span class="latips"><span class="required">*</span>店铺名称：</span>
                <input type="text" name="shop_name" value="{$merchant.shop_name}" placeholder="请输入店铺名称">
                <span class="bztips">允许输入汉字、字母、数字，不允许特殊字符输入，长度：4-30个字</span>
            </li>
            <li>
                <span class="latips"><span class="required">*</span>合同编号：</span>
                <input type="text" name="contract_no" value="{$merchant.contract_no}" placeholder="请输入合同编号">
                <span class="bztips">允许输入大写字母、数字、- 三种字符，长度：10-30个字符</span>
            </li>
            <li>
                <span class="latips"><span class="required">*</span>合同有效期：</span>
                <input type="text" name="contract_valid_start" value="{$merchant.contract_valid_start}" placeholder="请选择开始日期" style="width: 11%;min-width: 95px;" class="timepick"><span class="zhi">~~</span>
                <input type="text" name="contract_valid_end" value="{$merchant.contract_valid_end}" placeholder="请选择结束日期" style="width: 11%;min-width: 95px;" class="timepick">
            </li>
            <li>
                <span class="latips"><span class="required">*</span>证照类型：</span>
                <select name="licence_type">
                    <option value="">请选择证照类型</option>
                    <option value="工商营业执照" {if condition='$merchant.licence_type=="工商营业执照"'}selected="selected"{/if}>工商营业执照</option>
                    <option value="统一社会信用代码营业执照" {if condition='$merchant.licence_type=="统一社会信用代码营业执照"'}selected="selected"{/if}>统一社会信用代码营业执照</option>
                </select>
                <span class="bztips">选择工商营业执照时号码只允许输入13位数字；选择统一社会信用代码用业执照时号码只允许输入18位数字</span>
            </li>
            <li>
                <span class="latips"><span class="required">*</span>证件号码：</span>
                <input type="text" name="licence_no" value="{$merchant.licence_no}" placeholder="请输入证件号码">
                <span class="bztips">按情况只能输入13位数字或18位数字</span>
            </li>
            <li>
                <span class="latips"><span class="required">*</span>营业执照所在地：</span>
                <select name="licence_province_id" style="width: 8%;min-width: 90px;" id="select_province">
                    <option value="">请选择省份</option>
                    {volist name="province" id="vo"}
                    <option value="{$vo.id}" {if condition='$merchant.licence_province_id==$vo.id'}selected="selected"{/if}>{$vo.name}</option>
                    {/volist}
                </select>&nbsp;
                <select name="licence_city_id" style="width: 8%;min-width: 90px;" id="select_city">
                    <option value="">请选择城市</option>
                    {volist name="city" id="vo"}
                    <option value="{$vo.id}" {if condition='$merchant.licence_city_id==$vo.id'}selected="selected"{/if}>{$vo.name}</option>
                    {/volist}
                </select>&nbsp;
                <select name="licence_area_id" style="width: 8%;min-width: 90px;" id="select_area">
                    <option value="">请选择区县</option>
                    {volist name="area" id="vo"}
                    <option value="{$vo.id}" {if condition='$merchant.licence_area_id==$vo.id'}selected="selected"{/if}>{$vo.name}</option>
                    {/volist}
                </select>
            </li>
            <li>
                <span class="latips"><span class="required">*</span>详细地址：</span>
                <input type="text" name="licence_address" value="{$merchant.licence_address}" placeholder="请输入详细地址">
            </li>
            <li>
                <span class="latips"><span class="required">*</span>上传营业执照：</span>
                <input type="hidden" name="licence_img" value="{$merchant.licence_img}" class="licence_img">
                {if condition='$merchant.licence_img===""'}
                <div class="addimg addoneimg" title="点击上传" ralate="licence_img" suffix='png,jpg,jpeg' msize='3145728'><img src="__ADMIN_IMG__/add.png"></div>
                {else/}
                <div class="imgone">
                    <a href="javascript:;">
                        <img src="__ADMIN_IMG__/delimg.jpg" alt="删除按钮" class="delimg" title="点击删除">
                        <img src="{$merchant.licence_img}" onclick="window.open('{$merchant.licence_img}');" title="点击查看大图">
                    </a>
                    <span class="editimg addoneimg" title="点击更换" ralate="licence_img" suffix='png,jpg,jpeg' msize='3145728'>修改</span>
                </div>
                {/if}
                <span class="bztips">支持扩展名：png,jpg,jpeg，大小不超过3M</span>
            </li>
            <li>
                <span class="latips"><span class="required">*</span>营业执照有效期：</span>
                <input type="text" name="licence_valid_start" value="{$merchant.licence_valid_start}" placeholder="请选择开始日期" style="width: 11%;min-width: 95px;" class="timepick"><span class="zhi">~~</span>
                <input type="text" name="licence_valid_end" value="{$merchant.licence_valid_end}" placeholder="请选择结束日期" style="width: 11%;min-width: 95px;" class="timepick">
            </li>
            <li>
                <span class="latips"><span class="required">*</span>办公地址：</span>
                <input type="text" name="work_address" value="{$merchant.work_address}" placeholder="请输入办公地址">
            </li>
            <li>
                <span class="latips"><span class="required">*</span>客服电话：</span>
                <input type="text" name="custom_tel" value="{$merchant.custom_tel}" placeholder="请输入客服电话">
                <span class="bztips">只允许输入数字</span>
            </li>
            <li>
                <span class="latips"><span class="required">*</span>法人姓名：</span>
                <input type="text" name="corporation_name" value="{$merchant.corporation_name}" placeholder="请输入法人姓名">
                <span class="bztips">字符限制2-8个字</span>
            </li>
            <li>
                <span class="latips"><span class="required">*</span>联系电话：</span>
                <input type="text" name="mobile" value="{$merchant.mobile}" placeholder="请输入联系电话">
                <span class="bztips">只允许输入11位数字</span>
            </li>
            <li>
                <span class="latips"><span class="required">*</span>身份证号：</span>
                <input type="text" name="identcard_no" value="{$merchant.identcard_no}" placeholder="请输入身份证号">
                <span class="bztips">需符合身份证号码的标准格式</span>
            </li>
            <li>
                <span class="latips"><span class="required">*</span>上传身份证正面照片：</span>
                <input type="hidden" name="identcard_front_img" value="{$merchant.identcard_front_img}" class="identcard_front_img">
                {if condition='$merchant.identcard_front_img===""'}
                <div class="addimg addoneimg" title="点击上传" ralate="identcard_front_img" suffix='png,jpg,jpeg' msize='3145728'><img src="__ADMIN_IMG__/add.png"></div>
                {else/}
                <div class="imgone">
                    <a href="javascript:;">
                        <img src="__ADMIN_IMG__/delimg.jpg" alt="删除按钮" class="delimg" title="点击删除">
                        <img src="{$merchant.identcard_front_img}" onclick="window.open('{$merchant.identcard_front_img}');" title="点击查看大图">
                    </a>
                    <span class="editimg addoneimg" title="点击更换" ralate="identcard_front_img" suffix='png,jpg,jpeg' msize='3145728'>修改</span>
                </div>
                {/if}
                <span class="bztips">支持扩展名：png,jpg,jpeg，大小不超过3M</span>
            </li>
            <li>
                <span class="latips"><span class="required">*</span>上传身份证背面照片：</span>
                <input type="hidden" name="identcard_back_img" value="{$merchant.identcard_back_img}" class="identcard_back_img">
                {if condition='$merchant.identcard_back_img===""'}
                <div class="addimg addoneimg" title="点击上传" ralate="identcard_back_img" suffix='png,jpg,jpeg' msize='3145728'><img src="__ADMIN_IMG__/add.png"></div>
                {else/}
                <div class="imgone">
                    <a href="javascript:;">
                        <img src="__ADMIN_IMG__/delimg.jpg" alt="删除按钮" class="delimg" title="点击删除">
                        <img src="{$merchant.identcard_back_img}" onclick="window.open('{$merchant.identcard_back_img}');" title="点击查看大图">
                    </a>
                    <span class="editimg addoneimg" title="点击更换" ralate="identcard_back_img" suffix='png,jpg,jpeg' msize='3145728'>修改</span>
                </div>
                {/if}
                <span class="bztips">支持扩展名：png,jpg,jpeg，大小不超过3M</span>
            </li>
        </ul>
        <div style="clear: both;"></div>
    </div>
</div>

<div class="add_edit">
    <div class="title">联系人信息</div>
    <div style="clear: both;"></div>
    <div class="con">
        <ul>
            <li>
                <span class="latips"><span class="required">*</span>业务负责人：</span>
                <input type="text" name="businesser_name" value="{$merchant.businesser_name}" placeholder="请输入业务负责人">
                <span class="bztips">字符限制2-8个字</span>
            </li>
            <li>
                <span class="latips"><span class="required">*</span>业务负责人座机：</span>
                <input type="text" name="businesser_tel_1" value="{$merchant.businesser_tel_1}" placeholder="请输入区号" style="width: 6%;min-width: 25px;"><span class="zhi">-</span>
                <input type="text" name="businesser_tel_2" value="{$merchant.businesser_tel_2}" placeholder="请输入电话号码" style="width: 14%;min-width: 60px;">
                <span class="bztips">区号允许3位和4位数字，当区号为3位时，号码是8位，为4时，号码是7位</span>
            </li>
            <li>
                <span class="latips"><span class="required">*</span>业务负责人手机号：</span>
                <input type="text" name="businesser_mobile" value="{$merchant.businesser_mobile}" placeholder="请输入业务负责人手机号">
                <span class="bztips">只允许输入11位数字</span>
            </li>
            <li>
                <span class="latips"><span class="required">*</span>业务负责人邮箱：</span>
                <input type="text" name="businesser_email" value="{$merchant.businesser_email}" placeholder="请输入业务负责人邮箱">
                <span class="bztips">需符合邮箱标准格式</span>
            </li>
            <li>
                <span class="latips"><span class="required">*</span>财务负责人：</span>
                <input type="text" name="financer_name" value="{$merchant.financer_name}" placeholder="请输入财务负责人">
                <span class="bztips">字符限制2-8个字</span>
            </li>
            <li>
                <span class="latips"><span class="required">*</span>财务负责人座机：</span>
                <input type="text" name="financer_tel_1" value="{$merchant.financer_tel_1}" placeholder="请输入区号" style="width: 6%;min-width: 25px;"><span class="zhi">-</span>
                <input type="text" name="financer_tel_2" value="{$merchant.financer_tel_2}" placeholder="请输入电话号码" style="width: 14%;min-width: 60px;">
                <span class="bztips">区号允许3位和4位数字，当区号为3位时，号码是8位，为4时，号码是7位</span>
            </li>
            <li>
                <span class="latips"><span class="required">*</span>财务负责人手机号：</span>
                <input type="text" name="financer_mobile" value="{$merchant.financer_mobile}" placeholder="请输入财务手机号">
                <span class="bztips">只允许输入11位数字</span>
            </li>
            <li>
                <span class="latips"><span class="required">*</span>财务负责人邮箱：</span>
                <input type="text" name="financer_email" value="{$merchant.financer_email}" placeholder="请输入财务负责人邮箱">
                <span class="bztips">需符合邮箱标准格式</span>
            </li>
        </ul>
        <div style="clear: both;"></div>
    </div>
</div>

<div class="add_edit">
    <div class="title">登录信息</div>
    <div style="clear: both;"></div>
    <div class="con">
        <ul>
            <li>
                <span class="latips"><span class="required">*</span>用户名：</span>
                <input type="text" name="admin_name" value="{$merchant.admin_name}" placeholder="请输入用户名">
                <span class="bztips">允许数字、大小写字母及@符号（邮箱时）的3-20个字符</span>
            </li>
            <li>
                <span class="latips">登录密码：</span>
                <input type="text" name="admin_password" value="" placeholder="请输入登录密码，留空则不修改">
                <span class="bztips">允许大小写字母、数字、特殊字符的8-16个字符，必须有其中三项组成</span>
            </li>
        </ul>
        <div style="clear: both;"></div>
    </div>
</div>

<div class="add_edit">
    <div class="title">车行照片</div>
    <div style="clear: both;"></div>
    <div class="con">
        <ul>
            <li style="width: 100%;">
                <div id="sortable">
                    {volist name="merchant.imgs" id="vo"}
                    <div class="imgall">
                        <img src="__ADMIN_IMG__/delimg.jpg" alt="删除按钮" class="delimg" title="点击删除">
                        <img src="{$vo}" onclick="window.open('{$vo}');" target="_blank" title="点击查看大图，拖拽调整顺序">
                        <input type="hidden" name="imgs[]" value="{$vo}">
                    </div>
                    {/volist}
                </div>
                <div style="clear: both;"></div>
                <div class="addimg2 addallimg" title="点击上传" suffix='png,jpg,jpeg' msize='31457280'><img src="__ADMIN_IMG__/add.png"></div>
            </li>
            <li style="width: 100%;line-height: 20px;font-size: 12px;color: #999;margin:20px 10px;">
                提示：1.本地上传图片大小不超过30M，图片格式支持png,jpg,jpeg；2.您最多可上传4张图片；3.点击图片可以预览，拖拽图片可移动位置
            </li>
        </ul>
        <div style="clear: both;"></div>
    </div>
</div>

<div class="add_edit">
    <div class="con">
        <ul>
            <li class="look">
                <span class="looktips"><span class="required">*</span>商户状态：</span>
                <label><input type="radio" name="state" value="1" {if condition='$merchant.state=="1"'}checked="checked"{/if}>开通</label>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <label><input type="radio" name="state" value="0" {if condition='$merchant.state=="0"'}checked="checked"{/if}>冻结</label>
            </li>
            <li class="look">
                <span class="looktips">创建时间：</span>
                <span class="lacon">{$merchant.created_at_str}</span>
            </li>
        </ul>
        <div style="clear: both;"></div>
    </div>
</div>


<div style="margin: 40px auto;text-align: center;">
    <a href="javascript:;" class="btn btn-minw btn-primary rbt" id="edit_form_submit">确&nbsp;定</a>
</div>

</form>

<form style="display: none;" id='up_one_form' enctype="multipart/form-data"><input type="file" name="file" id="up_one_form_in" ralate="" suffix="" msize=""></form>
<form style="display: none;" id='up_many_form' enctype="multipart/form-data"><input type="file" name="file[]" id='up_many_form_in' multiple="multiple" suffix='' msize=''></form>

<script>
    $(function(){
        //多图上传
        $("body").on('click','.addallimg',function(){
            var suffix=$(this).attr('suffix');
            var msize=$(this).attr('msize');
            $('#up_many_form_in').attr('suffix',suffix);
            $('#up_many_form_in').attr('msize',msize);
            $('#up_many_form_in').click();
        });
        $("body").on('change','#up_many_form_in',function(){
            var up_len=this.files.length;
            if(up_len<=0){
                $('#up_many_form_in').attr('suffix','');
                $('#up_many_form_in').attr('msize','');
                return false;
            }
            var len=$('#sortable .imgall').length;
            var max_len=4;
            if (max_len-len<up_len) {
                Dolphin.notify('你最多还只能上传'+(max_len-len)+'张', 'danger');
                return false;
            }
            var suffix=$(this).attr('suffix');
            var msize=$(this).attr('msize');
            Dolphin.loading();
            $.ajaxFileUpload({
                fileElementId: 'up_many_form_in',    //需要上传的文件域的ID，即<input type="file">的ID。
                url: "{:url('index/file/upload',['type'=>'image','multiple'=>'1'])}", //后台方法的路径
                type: 'post',   //当要提交自定义参数时，这个参数要设置成post
                data:{suffix:suffix,msize:msize},
                dataType: 'json',   //服务器返回的数据类型。可以为xml,script,json,html。如果不填写，jQuery会自动判断。
                secureuri: false,   //是否启用安全提交，默认为false。
                async : true,   //是否是异步
                success: function(data) {   //提交成功后自动执行的处理函数，参数data就是服务器返回的数据。
                    Dolphin.loading('hide');
                    $('#up_many_form_in').attr('suffix','');
                    $('#up_many_form_in').attr('msize','');
                    if (data.code==200) {
                        var html='';
                        $(data.data).each(function(k,v){
                            html+='<div class="imgall"><img src="__ADMIN_IMG__/delimg.jpg" alt="删除按钮" class="delimg" title="点击删除"><img src="'+v+'" onclick="window.open(\''+v+'\');" target="_blank" title="点击查看大图，拖拽调整顺序"><input type="hidden" name="imgs[]" value="'+v+'"></div>';
                        });
                        $('#sortable').append(html);
                        var new_len=$('#sortable .imgall').length;
                        if(new_len>=max_len){
                            $('.addallimg').addClass('addallimgno');
                            $('.addallimg').attr('title','');
                            $('.addallimg').removeClass('addallimg');
                        }
                    } else {
                        Dolphin.notify(data.msg, 'danger');
                    }
                },
                error: function(data, status, e) {  //提交失败自动执行的处理函数。
                    Dolphin.loading('hide');
                    $('#up_many_form_in').attr('suffix','');
                    $('#up_many_form_in').attr('msize','');
                    Dolphin.notify('服务器错误~', 'danger');
                }
            });
        });
        //单图上传
        $("body").on('click','.addoneimg',function(){
            var ralate=$(this).attr('ralate');
            var suffix=$(this).attr('suffix');
            var msize=$(this).attr('msize');
            $('#up_one_form_in').attr('ralate',ralate);
            $('#up_one_form_in').attr('suffix',suffix);
            $('#up_one_form_in').attr('msize',msize);
            $('#up_one_form_in').click();
        });
        $("body").on('change','#up_one_form_in',function(){
            var up_len=this.files.length;
            if(up_len<=0){
                return false;
            }
            var ralate=$(this).attr('ralate');
            var suffix=$(this).attr('suffix');
            var msize=$(this).attr('msize');
            Dolphin.loading();
            $.ajaxFileUpload({
                fileElementId: 'up_one_form_in',    //需要上传的文件域的ID，即<input type="file">的ID。
                url: "{:url('index/file/upload',['type'=>'image','multiple'=>'0'])}", //后台方法的路径
                type: 'post',   //当要提交自定义参数时，这个参数要设置成post
                data:{suffix:suffix,msize:msize},
                dataType: 'json',   //服务器返回的数据类型。可以为xml,script,json,html。如果不填写，jQuery会自动判断。
                secureuri: false,   //是否启用安全提交，默认为false。
                async : true,   //是否是异步
                success: function(data) {   //提交成功后自动执行的处理函数，参数data就是服务器返回的数据。
                    Dolphin.loading('hide');
                    $('#up_one_form_in').attr('ralate','');
                    $('#up_one_form_in').attr('suffix','');
                    $('#up_one_form_in').attr('msize','');
                    if (data.code==200) {
                        $('.'+ralate).val(data.data);
                        $('.'+ralate).parent().find('.addimg').remove();
                        $('.'+ralate).parent().find('.imgone').remove();
                        var html='<div class="imgone"><a href="javascript:;"><img src="__ADMIN_IMG__/delimg.jpg" alt="删除按钮" class="delimg" title="点击删除"><img src="'+data.data+'" onclick="window.open(\''+data.data+'\');" title="点击查看大图"></a><span class="editimg addoneimg" title="点击更换" ralate="'+ralate+'" suffix="'+suffix+'" msize="'+msize+'">修改</span></div>';
                        $('.'+ralate).after(html);
                    } else {
                        Dolphin.notify(data.msg, 'danger');
                    }
                },
                error: function(data, status, e) {  //提交失败自动执行的处理函数。
                    Dolphin.loading('hide');
                    $('#up_one_form_in').attr('ralate','');
                    $('#up_one_form_in').attr('suffix','');
                    $('#up_one_form_in').attr('msize','');
                    Dolphin.notify('服务器错误~', 'danger');
                }
            });
        });

        //拖拽排序
        $( "#sortable" ).sortable();
        $( "#sortable" ).disableSelection();

        //单图删除
        $("body").on('click','.add_edit .con ul li .imgone a img.delimg',function(){
            var ralate=$(this).parent().parent().find('.editimg').attr('ralate');
            var suffix=$(this).parent().parent().find('.editimg').attr('suffix');
            var msize=$(this).parent().parent().find('.editimg').attr('msize');
            $(this).parent().parent().parent().find('input').val('');
            $(this).parent().parent().parent().find('input').after('<div class="addimg addoneimg" title="点击上传" ralate="'+ralate+'" suffix="'+suffix+'" msize="'+msize+'"><img src="__ADMIN_IMG__/add.png"></div>');
            $(this).parent().parent().remove();
        });
        //多图删除
        $("body").on('click','.add_edit .con ul li .imgall img.delimg',function(){
            $(this).parent().remove();
            $('.addallimgno').addClass('addallimg');
            $('.addallimgno').attr('title','点击上传');
            $('.addallimgno').removeClass('addallimgno');
        });
        //查出城市
        $('#select_province').change(function(){
            var val=$(this).val();
            if(val===''){
                $('#select_city').html('<option value="">请选择城市</option>');
                $('#select_area').html('<option value="">请选择区县</option>');
            }else{
                $.ajax({
                    type:'GET',
                    url:'{:url("index/region/getChilds")}',
                    data:{'id':val},
                    dataType:'JSON',
                    success:function(data){
                        if (data.code==200) {
                            var html='<option value="">请选择区县</option>';
                            $(data.region).each(function(k,v){
                                html+='<option value="'+v.id+'">'+v.name+'</option>';
                            });
                            $('#select_area').html(html);
                        } else {
                            Dolphin.notify(data.msg, 'danger');
                        }
                    },
                    error:function(xhr,status,error){
                        Dolphin.notify('服务器错误~', 'danger');
                    }
                });
            }
        });
        //查出区县
        $('#select_city').change(function(){
            var val=$(this).val();
            if(val===''){
                $('#select_area').html('<option value="">请选择区县</option>');
            }else{
                $.ajax({
                    type:'GET',
                    url:'{:url("index/region/getChilds")}',
                    data:{'id':val},
                    dataType:'JSON',
                    success:function(data){
                        if(data.code==200){
                            var html='<option value="">请选择区县</option>';
                            $(data.region).each(function(k,v){
                                html+='<option value="'+v.id+'">'+v.name+'</option>';
                            });
                            $('#select_area').html(html);
                        }else{
                            alert(data.msg);
                        }
                    },
                    error:function(xhr,status,error){
                        Dolphin.notify('服务器错误~', 'danger');
                    }
                });
            }
        });
        //提交
        $('#edit_form_submit').click(function(){
            Dolphin.loading();
            $.ajax({
                type:'post',
                url:'{:url("manage/merchant/edit")}',
                data:$('#edit_form').serializeArray(),
                dataType:'JSON',
                success:function(data){
                    Dolphin.loading('hide');
                    if (data.code==200) {
                        Dolphin.notify(data.msg, 'success');
                        setTimeout(function () {
                            location.href = '{:url("manage/merchant/edit",["id"=>$merchant["id"]])}';
                        }, 1500);
                    } else {
                        Dolphin.notify(data.msg, 'danger');
                        if(data.code==1001){
                            $('input[name="company_name"]').addClass('error');
                            $('input[name="company_name"]').focus();
                            var company_name_li = $('input[name="company_name"]').parent().offset();      
                            $("html,body").animate({scrollTop:company_name_li.top - "450" + "px"}, 0);
                        }else if(data.code==1002){
                            $('input[name="shop_name"]').addClass('error');
                            $('input[name="shop_name"]').focus();
                            var shop_name_li = $('input[name="shop_name"]').parent().offset();      
                            $("html,body").animate({scrollTop:shop_name_li.top - "450" + "px"}, 0);
                        }else if(data.code==1003){
                            $('input[name="contract_no"]').addClass('error');
                            $('input[name="contract_no"]').focus();
                            var contract_no_li = $('input[name="contract_no"]').parent().offset();      
                            $("html,body").animate({scrollTop:contract_no_li.top - "450" + "px"}, 0);
                        }else if(data.code==1004){
                            $('input[name="contract_valid_start"]').addClass('error');
                            $('input[name="contract_valid_start"]').focus();
                            var contract_valid_start_li = $('input[name="contract_valid_start"]').parent().offset();      
                            $("html,body").animate({scrollTop:contract_valid_start_li.top - "450" + "px"}, 0);
                        }else if(data.code==1005){
                            $('input[name="contract_valid_end"]').addClass('error');
                            $('input[name="contract_valid_end"]').focus();
                            var contract_valid_end_li = $('input[name="contract_valid_end"]').parent().offset();      
                            $("html,body").animate({scrollTop:contract_valid_end_li.top - "450" + "px"}, 0);
                        }else if(data.code==1006){
                            $('select[name="licence_type"]').addClass('error');
                            $('select[name="licence_type"]').focus();
                            var licence_type_li = $('select[name="licence_type"]').parent().offset();      
                            $("html,body").animate({scrollTop:licence_type_li.top - "450" + "px"}, 0);
                        }else if(data.code==1007){
                            $('input[name="licence_no"]').addClass('error');
                            $('input[name="licence_no"]').focus();
                            var licence_no_li = $('input[name="licence_no"]').parent().offset();      
                            $("html,body").animate({scrollTop:licence_no_li.top - "450" + "px"}, 0);
                        }else if(data.code==1008){
                            $('select[name="licence_province_id"]').addClass('error');
                            $('select[name="licence_province_id"]').focus();
                            var licence_province_id_li = $('select[name="licence_province_id"]').parent().offset();      
                            $("html,body").animate({scrollTop:licence_province_id_li.top - "450" + "px"}, 0);
                        }else if(data.code==1009){
                            $('select[name="licence_city_id"]').addClass('error');
                            $('select[name="licence_city_id"]').focus();
                            var licence_city_id_li = $('select[name="licence_city_id"]').parent().offset();      
                            $("html,body").animate({scrollTop:licence_city_id_li.top - "450" + "px"}, 0);
                        }else if(data.code==1010){
                            $('select[name="licence_area_id"]').addClass('error');
                            $('select[name="licence_area_id"]').focus();
                            var licence_area_id_li = $('select[name="licence_area_id"]').parent().offset();      
                            $("html,body").animate({scrollTop:licence_area_id_li.top - "450" + "px"}, 0);
                        }else if(data.code==1011){
                            $('input[name="licence_address"]').addClass('error');
                            $('input[name="licence_address"]').focus();
                            var licence_address_li = $('input[name="licence_address"]').parent().offset();      
                            $("html,body").animate({scrollTop:licence_address_li.top - "450" + "px"}, 0);
                        }else if(data.code==1012){
                            $('input[name="licence_img"]').parent().find('.addimg').addClass('error');
                            var licence_img_li = $('input[name="licence_img"]').parent().offset();      
                            $("html,body").animate({scrollTop:licence_img_li.top - "450" + "px"}, 0);
                        }else if(data.code==1013){
                            $('input[name="licence_valid_start"]').addClass('error');
                            $('input[name="licence_valid_start"]').focus();
                            var licence_valid_start_li = $('input[name="licence_valid_start"]').parent().offset();      
                            $("html,body").animate({scrollTop:licence_valid_start_li.top - "450" + "px"}, 0);
                        }else if(data.code==1014){
                            $('input[name="licence_valid_end"]').addClass('error');
                            $('input[name="licence_valid_end"]').focus();
                            var licence_valid_end_li = $('input[name="licence_valid_end"]').parent().offset();      
                            $("html,body").animate({scrollTop:licence_valid_end_li.top - "450" + "px"}, 0);
                        }else if(data.code==1015){
                            $('input[name="work_address"]').addClass('error');
                            $('input[name="work_address"]').focus();
                            var work_address_li = $('input[name="work_address"]').parent().offset();      
                            $("html,body").animate({scrollTop:work_address_li.top - "450" + "px"}, 0);
                        }else if(data.code==1016){
                            $('input[name="custom_tel"]').addClass('error');
                            $('input[name="custom_tel"]').focus();
                            var custom_tel_li = $('input[name="custom_tel"]').parent().offset();      
                            $("html,body").animate({scrollTop:custom_tel_li.top - "450" + "px"}, 0);
                        }else if(data.code==1017){
                            $('input[name="corporation_name"]').addClass('error');
                            $('input[name="corporation_name"]').focus();
                            var corporation_name_li = $('input[name="corporation_name"]').parent().offset();      
                            $("html,body").animate({scrollTop:corporation_name_li.top - "450" + "px"}, 0);
                        }else if(data.code==1018){
                            $('input[name="mobile"]').addClass('error');
                            $('input[name="mobile"]').focus();
                            var mobile_li = $('input[name="mobile"]').parent().offset();      
                            $("html,body").animate({scrollTop:mobile_li.top - "450" + "px"}, 0);
                        }else if(data.code==1019){
                            $('input[name="identcard_no"]').addClass('error');
                            $('input[name="identcard_no"]').focus();
                            var identcard_no_li = $('input[name="identcard_no"]').parent().offset();      
                            $("html,body").animate({scrollTop:identcard_no_li.top - "450" + "px"}, 0);
                        }else if(data.code==1020){
                            $('input[name="identcard_front_img"]').parent().find('.addimg').addClass('error');
                            var identcard_front_img_li = $('input[name="identcard_front_img"]').parent().offset();      
                            $("html,body").animate({scrollTop:identcard_front_img_li.top - "450" + "px"}, 0);
                        }else if(data.code==1021){
                            $('input[name="identcard_back_img"]').parent().find('.addimg').addClass('error');
                            var identcard_back_img_li = $('input[name="identcard_back_img"]').parent().offset();      
                            $("html,body").animate({scrollTop:identcard_back_img_li.top - "450" + "px"}, 0);
                        }else if(data.code==1022){
                            $('input[name="businesser_name"]').addClass('error');
                            $('input[name="businesser_name"]').focus();
                            varbusinesser_name_li = $('input[name="businesser_name"]').parent().offset();      
                            $("html,body").animate({scrollTop:businesser_name_li.top - "450" + "px"}, 0);
                        }else if(data.code==1023){
                            $('input[name="businesser_tel_1"]').addClass('error');
                            $('input[name="businesser_tel_1"]').focus();
                            var businesser_tel_1_li = $('input[name="businesser_tel_1"]').parent().offset();      
                            $("html,body").animate({scrollTop:businesser_tel_1_li.top - "450" + "px"}, 0);
                        }else if(data.code==1024){
                            $('input[name="businesser_tel_2"]').addClass('error');
                            $('input[name="businesser_tel_2"]').focus();
                            var businesser_tel_2_li = $('input[name="businesser_tel_2"]').parent().offset();      
                            $("html,body").animate({scrollTop:businesser_tel_2_li.top - "450" + "px"}, 0);
                        }else if(data.code==1025){
                            $('input[name="businesser_mobile"]').addClass('error');
                            $('input[name="businesser_mobile"]').focus();
                            var businesser_mobile_li = $('input[name="businesser_mobile"]').parent().offset();      
                            $("html,body").animate({scrollTop:businesser_mobile_li.top - "450" + "px"}, 0);
                        }else if(data.code==1026){
                            $('input[name="businesser_email"]').addClass('error');
                            $('input[name="businesser_email"]').focus();
                            var businesser_email_li = $('input[name="businesser_email"]').parent().offset();      
                            $("html,body").animate({scrollTop:businesser_email_li.top - "450" + "px"}, 0);
                        }else if(data.code==1027){
                            $('input[name="financer_name"]').addClass('error');
                            $('input[name="financer_name"]').focus();
                            var financer_name_li = $('input[name="financer_name"]').parent().offset();      
                            $("html,body").animate({scrollTop:financer_name_li.top - "450" + "px"}, 0);
                        }else if(data.code==1028){
                            $('input[name="financer_tel_1"]').addClass('error');
                            $('input[name="financer_tel_1"]').focus();
                            var financer_tel_1_li = $('input[name="financer_tel_1"]').parent().offset();      
                            $("html,body").animate({scrollTop:financer_tel_1_li.top - "450" + "px"}, 0);
                        }else if(data.code==1029){
                            $('input[name="financer_tel_2"]').addClass('error');
                            $('input[name="financer_tel_2"]').focus();
                            var financer_tel_2_li = $('input[name="financer_tel_2"]').parent().offset();      
                            $("html,body").animate({scrollTop:financer_tel_2_li.top - "450" + "px"}, 0);
                        }else if(data.code==1030){
                            $('input[name="financer_mobile"]').addClass('error');
                            $('input[name="financer_mobile"]').focus();
                            var financer_mobile_li = $('input[name="financer_mobile"]').parent().offset();      
                            $("html,body").animate({scrollTop:financer_mobile_li.top - "450" + "px"}, 0);
                        }else if(data.code==1031){
                            $('input[name="financer_email"]').addClass('error');
                            $('input[name="financer_email"]').focus();
                            var financer_email_li = $('input[name="financer_email"]').parent().offset();      
                            $("html,body").animate({scrollTop:financer_email_li.top - "450" + "px"}, 0);
                        }else if(data.code==1032){
                            $('input[name="admin_name"]').addClass('error');
                            $('input[name="admin_name"]').focus();
                            var admin_name_li = $('input[name="admin_name"]').parent().offset();      
                            $("html,body").animate({scrollTop:admin_name_li.top - "450" + "px"}, 0);
                        }else if(data.code==1033){
                            $('input[name="admin_password"]').addClass('error');
                            $('input[name="admin_password"]').focus();
                            var admin_password_li = $('input[name="admin_password"]').parent().offset();      
                            $("html,body").animate({scrollTop:admin_password_li.top - "450" + "px"}, 0);
                        }else if(data.code==1034){
                            $('.add_edit .con ul li .addimg2').addClass('error');
                            var imgs_li = $('.add_edit .con ul li .addimg2').parent().prev().offset();      
                            $("html,body").animate({scrollTop:imgs_li.top - "450" + "px"}, 0);
                        }else if(data.code==1035){
                            $('input[name="state"]:last').parent().after('<span class="error">！必须选择</span>');
                            var state_li = $('input[name="state"]:last').parent().parent().offset();      
                            $("html,body").animate({scrollTop:state_li.top - "450" + "px"}, 0);
                        }
                    }
                },
                error:function(xhr,status,error){
                    Dolphin.loading('hide');
                    Dolphin.notify('服务器错误~', 'danger');
                }
            });
        });
        $('body').on('blur','.add_edit .con ul li input[type="text"],.add_edit .con ul li input[type="password"],.add_edit .con ul li select,.add_edit .con ul li textarea',function(){
            $(this).removeClass('error');
        });
        $('.content').click(function(){
            $('.add_edit .con ul li .addimg').removeClass('error');
            $('.add_edit .con ul li .addimg2').removeClass('error');
            $('.add_edit .con ul li span.error').remove();
        });
    });
</script>


<script src="__ADMIN_JS__/specil.js"></script>
{/block}

{block name="script"}
<script src="__LIBS__/jstree/jstree.min.js"></script>
<script src="__LIBS__/jquery-nestable/jquery.nestable.js"></script>
<script src="__LIBS__/jquery-ui/jquery-ui.min.js"></script>
<script src="__ADMIN_JS__/food.js"></script>
{/block}