{extend name="$_admin_base_layout" /}

{block name="plugins-css"}
<link href="__LIBS__/jquery-nestable/jquery.nestable.css" rel="stylesheet" type="text/css" />
{/block}

{block name="content"}
<link href="__ADMIN_CSS__/all.css" rel="stylesheet" type="text/css" />
<script src="__LIBS__/bootstrap-datepicker/bootstrap-datepicker.js"></script> 

<div class="filter_search">
    <form action="{:url('manage/merchant/index')}" name="search_form">
        <div class="blo"><span class="latips">用户名：</span><input type="text" name="admin_name" value="{$filter.admin_name}" placeholder="请输入用户名"></div>
        <div class="blo"><span class="latips">店铺名称：</span><input type="text" name="shop_name" value="{$filter.shop_name}" placeholder="请输入店铺名称"></div>
        <div class="blo"><span class="latips">商户号：</span><input type="text" name="sn" value="{$filter.sn}" placeholder="请输入商户号"></div>
        <div class="blo"><span class="latips">商户状态：</span>
            <select name="state">
                <option value="">全部</option>
                <option value="1" {if condition='$filter.state==="1"'}selected="selected"{/if}>开通</option>
                <option value="0" {if condition='$filter.state==="0"'}selected="selected"{/if}>冻结</option>
            </select>
        </div>
        <div class="blo"><span class="latips">创建日期：</span><input type="text" name="created_at_start" value="{$filter.created_at_start}" class="timepick" readonly="readonly" placeholder="请选择开始日期"><span class="latips">~~</span><input type="text" name="created_at_end" value="{$filter.created_at_end}" class="timepick" readonly="readonly" placeholder="请选择结束日期"><a href="javascript:;" onclick="search_form.submit();" class="btn btn-minw btn-primary byt" style="margin-left: 30px;">查&nbsp;询</a></div>
        <input type="hidden" name="order" value="{$order}">
    </form>
    <div class="blo">
        {if condition='ismeunshow("manage/merchant/export")'}
        <a href="{:url('manage/merchant/export')}" class="btn btn-minw btn-primary rbt">导&nbsp;出</a>
        {/if}
    </div>
    <div style="clear: both;"></div>
</div>


<div class="table-responsive">
    <table class="table table-builder table-hover table-bordered table-striped js-table-checkable">
        <thead>
            <tr>
                <th>
                    ID 
                    <span>
                    {switch name="order"}
                        {case value="a.id asc"}
                        {php}$filter['order']='a.id desc';{/php}
                        <a href="{:url('manage/merchant/index',$filter)}" data-toggle="tooltip" data-original-title="排序">
                            <i class="fa fa-caret-up"></i> 
                        </a>
                        {/case}
                        {case value="a.id desc"}
                        {php}$filter['order']='a.id asc';{/php}
                        <a href="{:url('manage/merchant/index',$filter)}" data-toggle="tooltip" data-original-title="排序">
                            <i class="fa fa-caret-down"></i>
                        </a>
                        {/case}
                        {case value="a.created_at asc"}
                        {php}$filter['order']='a.id asc';{/php}
                        <a href="{:url('manage/merchant/index',$filter)}" data-toggle="tooltip" data-original-title="排序">
                            <i class="fa fa-sort text-muted"></i>
                        </a>
                        {/case}
                        {case value="a.created_at desc"}
                        {php}$filter['order']='a.id asc';{/php}
                        <a href="{:url('manage/merchant/index',$filter)}" data-toggle="tooltip" data-original-title="排序">
                            <i class="fa fa-sort text-muted"></i>
                        </a>
                        {/case}
                        {default /}
                        {php}$filter['order']='a.id asc';{/php}
                        <a href="{:url('manage/merchant/index',$filter)}" data-toggle="tooltip" data-original-title="排序">
                            <i class="fa fa-sort text-muted"></i>
                        </a>
                    {/switch}
                     </span>
                </th>
                <th>
                    用户名  
                </th>
                <th>
                    公司名称  
                </th>
                <th>
                    店铺名称  
                </th>
                <th>
                    商户号  
                </th>
                <th>
                    创建时间
                    <span>
                    {switch name="order"}
                        {case value="a.id asc"}
                        {php}$filter['order']='a.created_at desc';{/php}
                        <a href="{:url('manage/merchant/index',$filter)}" data-toggle="tooltip" data-original-title="排序">
                            <i class="fa fa-sort text-muted"></i>
                        </a>
                        {/case}
                        {case value="a.id desc"}
                        {php}$filter['order']='a.created_at desc';{/php}
                        <a href="{:url('manage/merchant/index',$filter)}" data-toggle="tooltip" data-original-title="排序">
                            <i class="fa fa-sort text-muted"></i>
                        </a>
                        {/case}
                        {case value="a.created_at asc"}
                        {php}$filter['order']='a.created_at desc';{/php}
                        <a href="{:url('manage/merchant/index',$filter)}" data-toggle="tooltip" data-original-title="排序">
                            <i class="fa fa-caret-up"></i> 
                        </a>
                        {/case}
                        {case value="a.created_at desc"}
                        {php}$filter['order']='a.created_at asc';{/php}
                        <a href="{:url('manage/merchant/index',$filter)}" data-toggle="tooltip" data-original-title="排序">
                            <i class="fa fa-caret-down"></i> 
                        </a>
                        {/case}
                        {default /}
                        {php}$filter['order']='a.created_at desc';{/php}
                        <a href="{:url('manage/merchant/index',$filter)}" data-toggle="tooltip" data-original-title="排序">
                            <i class="fa fa-sort text-muted"></i>
                        </a>
                    {/switch}
                     </span>
                </th>
                <th>
                    状态  
                </th>
                <th>
                    操作  
                </th>
        </thead>
        <tbody>
        {php}
            $ismeunshow_enable=ismeunshow("manage/merchant/enable");
            $ismeunshow_disable=ismeunshow("manage/merchant/disable");
            $ismeunshow_edit=ismeunshow("manage/merchant/edit");
            $ismeunshow_look=ismeunshow("manage/merchant/look");
        {/php}
        {volist name="data" id="vo"}
        <tr>
            <td>
                {$vo.id}                                    
            </td>
            <td>
                {$vo.admin_name}                                    
            </td>
            <td>
                {$vo.company_name}                                    
            </td>
            <td>
                {$vo.shop_name}                                    
            </td>
            <td>
                {$vo.sn}                                    
            </td>
            <td>
                {$vo.created_at_str}                                    
            </td>
            <td>
                {if condition='$vo.state'}
                    开通 
                {else/}
                    冻结
                {/if}
            </td>
            <td>
                {if condition='$vo.state'}
                    {if condition='$ismeunshow_enable'}
                    开通&nbsp;
                    {/if}
                    {if condition='$ismeunshow_disable'}
                    <a href="javascript:;" onclick="merchant_update_state({$vo.id},0);">冻结</a>&nbsp; 
                    {/if}
                {else/}
                    {if condition='$ismeunshow_enable'}
                    <a href="javascript:;" onclick="merchant_update_state({$vo.id},1);">开通</a>&nbsp;
                    {/if}
                    {if condition='$ismeunshow_disable'}
                    冻结&nbsp;
                    {/if}
                {/if}
                {if condition='$ismeunshow_edit'}
                    <a href="{:url('manage/merchant/edit',['id'=>$vo['id']])}">修改</a>&nbsp;
                {/if}
                {if condition='$ismeunshow_look'}
                    <a href="{:url('manage/merchant/look',['id'=>$vo['id']])}">详情</a>
                {/if}                            
            </td>
        </tr>
        {/volist}
        {if condition="!count($data)"}
        <tr>
            <td colspan="8"><div style="color: #ccc;height: 80px;line-height: 80px;text-align: center;font-size: 20px;">！暂无数据</div></td>
        </tr>
        {/if}
        </tbody>
    </table>
</div>

<div style="text-align: center;margin:20px auto;">
    {notempty name="page"}
        {$page}  
    {/notempty}
</div>
<div style="margin-bottom: 20px;"></div>
    
<script>
    //开通和冻结
    function merchant_update_state(id,state){
        var url='';
        if(state){
            url='{:url("manage/merchant/enable")}';
        }else{
            url='{:url("manage/merchant/disable")}';
        }
        $.ajax({
            type:'GET',
            url:url,
            data:{'id':id},
            dataType:'JSON',
            success:function(data){
                if (data.code==200) {
                    Dolphin.notify(data.msg, 'success');
                    setTimeout(function () {
                        location.reload();
                    }, 1500);
                } else {
                    Dolphin.notify(data.msg, 'danger');
                }
            },
            error:function(xhr,status,error){
                Dolphin.notify('服务器错误~', 'danger');
            }
        });
    }
</script>

<script src="__ADMIN_JS__/specil.js"></script>
{/block}

{block name="script"}
<script src="__LIBS__/jstree/jstree.min.js"></script>
<script src="__LIBS__/jquery-nestable/jquery.nestable.js"></script>
<script src="__LIBS__/jquery-ui/jquery-ui.min.js"></script>
<script src="__ADMIN_JS__/food.js"></script>
{/block}
